
<style>
  .drawer {
    visibility: hidden;
  }
</style>
<cart-drawer class="drawer">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      <div class="loading-drawer hidden"></div>
      <div class="drawer__header">
        <h2 class="drawer__heading text-black">{{ 'general.cart.shopping_cart' | t }}</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon', icon_name:"icon-close" %}
        </button>
      </div>
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content text-center">
              <h2 class="cart__empty-text mb-5">{{ 'sections.cart.empty' | t }}</h2>
              <p class="mb-5">You may check out all the available products and buy some in the shop.</p>
              <a href="{{ routes.all_products_collection_url }}">
                <span class="tp-btn tp-btn__primary"> {{ 'general.continue_shopping' | t }}</span>
              </a>
            
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
                <div class="cart-items">
                    {%- for item in cart.items -%}
                      <div id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item">
                        <div class="cart-item__media">
                          {% if item.image %}
                            <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                              <img
                                class="cart-item__image-drawn"
                                src="{{ item.image | image_url: width: 300 }}"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="150"
                                height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                          {% endif %}
                        </div>

                        <div class="cart-item__details">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                          {%- endif -%}

                          <a href="{{ item.url }}" class="cart-item__name font-medium block text-black">
                            {{- item.product.title | escape -}}
                          </a>


                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <div>
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option">
                                    <span class="font-medium">{{ option.name }}:</span>
                                    <span>
                                      {{ option.value -}}
                                    </span>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </div>
                          {%- endif -%}

                          {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices mb-1">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div class="product-option font-light mb-1">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}
                          <div class="cart-item__quantity">
                            <div class="cart-item__quantity-wrapper">
                              <quantity-input class="quantity cart-quantity">
                                <button class="quantity__button no-js-hidden" name="minus" type="button">
                                  <span class="visually-hidden">
                                    {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                                  </span>
                                  -
                                </button>
                                <input
                                  class="quantity__input"
                                  type="number"
                                  data-quantity-variant-id="{{ item.variant.id }}"
                                  name="updates[]"
                                  value="{{ item.quantity }}"
                                  {% # theme-check-disable %}
                                  data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                  min="{{ item.variant.quantity_rule.min }}"
                                  {% if item.variant.quantity_rule.max != null %}
                                    max="{{ item.variant.quantity_rule.max }}"
                                  {% endif %}
                                  step="{{ item.variant.quantity_rule.increment }}"
                                  {% # theme-check-enable %}
                                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                  id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                <button class="quantity__button no-js-hidden" name="plus" type="button">
                                  <span class="visually-hidden">
                                    {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                                  </span>
                                 +
                                </button>
                              </quantity-input>
  
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                                >
                                  {% render 'icon', icon_name: 'icon-remove-item-cart' %}
                                </button>
                              </cart-remove-button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endfor -%}
                </div>
                <span class="error-message hidden" style="color: tomato;"></span>
              </div>
            {%- endif -%}
          </div>
        </form>
      </cart-drawer-items>
      <div class="drawer__footer">
        {%- if settings.show_cart_note -%}
          <details id="Details-CartDrawer">
            <summary>
              <span class="summary__title">
                {{ 'sections.cart.note' | t }}
                {% comment %}{% render 'icon-caret' %}{% endcomment %}
              </span>
            </summary>
            <cart-note class="cart__note field">
              <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          </details>
        {%- endif -%}
        <div class="tp-cart-ajax__footer">
          {% liquid
            assign fsactive = settings.free_shipping_active
            assign fscode = settings.free_shipping_code
          %}
          {% if fsactive and fscode != blank  %}
            <div class="tca-footer__freeship">
              {% liquid
                assign amount = settings.free_shipping_amount | plus: 0
                assign total = cart.original_total_price | money_without_trailing_zeros | remove: ',' | remove: cart.currency.symbol | plus: 0
                assign cartTotal = amount | minus: total
              %}
              <div class="process-bar">
                <div class="process-bar__item relative {% if total >= amount %} is-active{% endif %}">
                  <input type="hidden" class="process-bar__data"
                         data-ammount="{{ settings.free_shipping_amount | default: "100" }}"
                         data-effect="{{ settings.free_shipping_effective | default: "false" }}"
                         data-before="{{ settings.free_shipping_before_discount_code | default: "Congratulations! You've got free shipping!" }}"
                         data-after="{{ settings.free_shipping_after_discount_code | default: "more to get free shipping" }}"
                         data-fscode="{{ fscode }}"
                         data-compare="{% if total >= amount %}true{% endif %}"
                  />
                  <div class="process-bar__percent absolute" style="{% if total < amount %}right: {{ cartTotal | divided_by: 10 }}%{% else %}width:100%{% endif %}">
        
                  </div>
                  <div class="text">
                    {% if total < amount %}
                      {{ cart.currency.symbol }}{{ cartTotal }} {{ settings.free_shipping_after_discount_code | default: "more to get free shipping" }}
                    {% else %}
                    {{ settings.free_shipping_before_discount_code | default: "Congratulations! You've got free shipping!" }}
                    {% endif %}
                    </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if settings.show_note or settings.show_shipping or settings.show_coupon %}
            <div class="tca-icon mb-[20px]">
              <ul>
                {% if settings.show_note %}
                  <li flow="up" tooltip="Add Note" class="tca-icon__item" data-show="note">
                    {% render 'icon', icon_name: 'icon-note' %}
                  </li>
                {% endif %}
                {% if settings.show_coupon %}
                  <li flow="up" tooltip="Add Coupon" class="tca-icon__item" data-show="coupon">
                    {% render 'icon', icon_name: 'icon-coupon' %}
                  </li>
                {% endif %}
                {% if settings.show_shipping %}
                  <li flow="up" tooltip="Estimate Shipping" class="tca-icon__item" data-show="shipping">
                    {% render 'icon', icon_name: 'icon-shipping' %}
                  </li>
                {% endif %}
                {% comment %} {% if settings.show_gift_wrap and settings.collection_gift_wrap != blank %}
                  <li flow="up" tooltip="Add A Gift Wrap" class="tca-icon__item" data-show="gift_wrap">
                    {% render 'icon', icon_name: 'icon-gift-wrap' %}
                  </li>
                {% endif %} {% endcomment %}

                {% comment %} <li class="tca-icon__item remove-cart-item-all">{{ 'general.cart.remove_all' | t }}</li> {% endcomment %}
              </ul>
            </div>
          {% endif %}
          <div class="tca__note tca_item ajc-hidden">
            <div class="content-note">
              <div class="content-note__note content-note__item">
                <cart-note-ajax class="cart__note field block mb-5">
                  <div class="note-wapper flex items-center justify-between mb-3.75">
                    <h5 class="title-item">{{ 'general.cart.note' | t }}</h5>
                    <div class="icon-note">
                      <svg fill="none" height="17" viewbox="0 0 17 17" width="17" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.8462 15.8462H1.15385V3.15385H8.78077L9.93462 2H1.15385C0.847827 2 0.554342 2.12157 0.337954 2.33795C0.121566 2.55434 0 2.84783 0 3.15385V15.8462C0 16.1522 0.121566 16.4457 0.337954 16.662C0.554342 16.8784 0.847827 17 1.15385 17H13.8462C14.1522 17 14.4457 16.8784 14.662 16.662C14.8784 16.4457 15 16.1522 15 15.8462V7.19231L13.8462 8.34615V15.8462Z"
                              fill="#CDCDCD"/>
                        <path d="M16.7293 2.19468L14.8013 0.270183C14.7158 0.18454 14.6141 0.11659 14.5022 0.0702276C14.3903 0.0238649 14.2703 0 14.1491 0C14.028 0 13.908 0.0238649 13.7961 0.0702276C13.6842 0.11659 13.5825 0.18454 13.4969 0.270183L5.65341 8.1452L5.01838 10.892C4.99133 11.0252 4.99417 11.1627 5.02671 11.2946C5.05925 11.4265 5.12067 11.5496 5.20656 11.655C5.29245 11.7604 5.40067 11.8455 5.52344 11.9041C5.64621 11.9628 5.78048 11.9935 5.91658 11.9942C5.98693 12.0019 6.05791 12.0019 6.12826 11.9942L8.90296 11.3832L16.7293 3.49671C16.8151 3.41131 16.8832 3.30984 16.9296 3.19813C16.9761 3.08641 17 2.96665 17 2.8457C17 2.72475 16.9761 2.60498 16.9296 2.49327C16.8832 2.38156 16.8151 2.28009 16.7293 2.19468ZM8.30797 10.3267L6.21407 10.7892L6.70036 8.71627L12.6045 2.78288L14.2178 4.39329L8.30797 10.3267ZM14.8643 3.74798L13.2509 2.13757L14.1377 1.23529L15.7625 2.85712L14.8643 3.74798Z"
                              fill="#CDCDCD"/>
                      </svg>
                    </div>
                  </div>
                  <textarea
                    class="text-area field__input input-note"
                    form="cart"
                    id="cart-note"
                    name="note"
                    placeholder="Enter note"
                  >{{ cart.note }}</textarea>
                </cart-note-ajax>
                <div class="flex items-center gap-4">
                  <button
                    type="button"
                    class="tp-btn tp-btn__primary w-full save-cart-note"
                  >
                    {{ 'general.cart.coupon_save' | t }}
                  </button>
                  <button type="button" data-cart-tool_close="" class="stp-tool__back w-full tp-btn tp-btn__secondary">
                    {{ 'general.cart.cancel' | t }}
                  </button>
                </div>
                
              </div>
            </div>
          </div>
          <div class="tca_coupon ajc-hidden tca_item">
            <h5 class="mb-5">{{ 'general.cart.add_coupon' | t }}</h5>
            <div class="tca-field mb-5">
              <input type="text" data-name="discount" id="CartDiscountcode" value="" placeholder="Coupon code">
            </div>
            <div class="tca-field mb-5 flex items-center gap-4">
              <button
                type="button"
                data-action="save-discountcode"
                data-cart-tool_close=""
                class="ajc-discount__push tp-btn tp-btn__primary w-full"
              >
                {{ 'general.cart.coupon_save' | t }}
              </button>
              <button type="button" data-cart-tool_close="" class="stp-tool__back w-full tp-btn tp-btn__secondary">
                {{ 'general.cart.cancel' | t }}
              </button>
            </div>
          </div>
          <div class="tca_shipping ajc-hidden tca_item">
            {% render 'shipping-calculator', customer: customer %}
            <button type="button" data-cart-tool_close="" class="mb-5 stp-tool__back w-full tp-btn tp-btn__secondary">
              {{ 'general.cart.cancel' | t }}
            </button>
          </div>
          {% if settings.show_gift_wrap and settings.collection_gift_wrap != blank %}
            <div class="tca_gift_wrap ajc-hidden tca_item">
              <div class="tca-mini_cart-tool__wrap">
                {% assign collection_gift_wrap = settings.collection_gift_wrap %}
                <div class="tca-field mb-6">
                  <svg
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    stroke="currentColor"
                    stroke-width="1.5"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="tca-gift-svg"
                  >
                    <polyline points="20 12 20 22 4 22 4 12"></polyline>
                    <rect x="2" y="7" width="20" height="5"></rect>
                    <line x1="12" y1="22" x2="12" y2="7"></line>
                    <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                    <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                  </svg>
                  <span class="tca-gift_wrap_text">
                    <span class="cd">{{ settings.gift_wrap_text | default: 'Do you want a gift wrap?' }}</span>
                    {{ settings.gift_wrap_sub_text -}}
                  </span>
                </div>
                <div class="tca-field">
                  <div class="tca-field mb-5">
                    <button
                      type="button"
                      data-cart-tool_close=""
                      class="tca-mini_cart-tool__add tca-truncate tp-btn tp-btn__primary w-full mb-4"
                    >
                      {% comment %}
                        <script type="application/json">
                          {{ gift_wrap_product.variants | json }}
                        </script>
                      {% endcomment %}
                      {% comment %}
                        {% if settings.gift_wrap_product != blank %}
                        {% endif %}
                      {% endcomment %}
                      <span class="tca-txt-inner pointer-events-none">
                        {{- settings.gift_wrap_button_text | default: 'Add A Gift Wrap' -}}
                      </span>
                    </button>
                    <button
                      type="button"
                      data-cart-tool_close=""
                      class="stp-tool__back w-full tp-btn tp-btn__secondary"
                    >
                      {{ 'general.cart.cancel' | t }}.

                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div class="totals">
            <h2 class="totals__subtotal text-black">{{ 'sections.cart.subtotal' | t }}</h2>
            <p class="totals__subtotal-value">{{ cart.total_price | money }}</p>
          </div>

          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {% comment %}{%- render 'icon-discount' -%}{% endcomment %}
                    Discount code: <br>{{ discount.title }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </div>

        <!-- CTAs -->

        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <noscript>
            <button type="submit" class="cart__update-button button button--secondary" form="CartDrawer-Form">
              {{ 'sections.cart.update' | t }}
            </button>
          </noscript>

          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button tp-btn tp-btn__primary mb-5 w-full"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
          <a class="tp-btn tp-btn__secondary w-full tp-cart-ajax__view-cart btn-go-cart" href="/cart">
            {{ 'general.cart.view_cart' | t }}
         </a>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>
<script>
  class CartNoteAjax extends HTMLElement {
    constructor() {
      super();

      this.inputNote = this.querySelector('#cart-note');
      this.inputNote.addEventListener('change', function () {
        const body = JSON.stringify({ note: this.value });

        setTimeout(function () {
          fetch(`${routes.cart_update_url}`, {
            method: 'POST',
            body: body,
            headers: {
              'Content-Type': 'application/json',
              Accept: `application/json`,
            },
          })
            .then((res) => res.json())
            .then((data) => {
              // console.log(data)
            });
        }, 300);
      });
    }
  }

  customElements.define('cart-note-ajax', CartNoteAjax);
  
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);

    // Utilizando un evento delegado para escuchar clics en elementos dentro del <cart-drawer>
    document.querySelector('cart-drawer').addEventListener('click', function(event) {
        if (event.target.id === 'CartDrawer-Checkout') {
            document.querySelector('#CartDrawer-Form').submit();
        }
    });
});

</script>
