{% if block.settings.use_spacing %}
  {% render 'block-margin-bottom', className: 'tp-price', block: block %}
  {% assign classDefault = '' %}
{% else %}
  {% assign classDefault = ' mb-3.75' %}
{% endif %}
<div class="tp-price{{ classDefault }}" id="price-{{ section.id }}">
  {%- render 'price',
    product: product,
    use_variant: true,
    show_badges: false,
    price_class: 'price--large price-product-detail-big'
  -%}
</div>
{%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
  <div class="product__tax caption rte mb-3.75">
    {%- if shop.taxes_included -%}
      {{ 'products.product.include_taxes' | t }}
    {%- endif -%}
    {%- if shop.shipping_policy.body != blank -%}
      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
    {%- endif -%}
  </div>
{%- endif -%}
<div {{ block.shopify_attributes }} class="hidden">
  {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
  {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
    >
    {{ form | payment_terms }}
  {%- endform -%}
</div>
