{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical' %}
{% endcomment %}
{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="facets-container">
  {% if filter_type == 'drawer-left' or filter_type == 'drawer-right' %}
    {%- for filter in collection.filters -%}
      {% assign activeCount = forloop.length %}
    {%- endfor -%}
    {% if activeCount > 0 %}
      <div class="active-facets active-facets-desktop">
        {%- for filter in collection.filters -%}
          {%- for value in filter.active_values -%}
            {% assign activeValueCount = forloop.length %}
            <facet-remove class="item-active btn-border-radius">
              <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                <span class="active-facets__button-inner button button--tertiary">
                  {{ filter.label }}:
                  {{ value.label | escape }}
                  {% render 'icon', icon_name: 'icon-clear-active-facets' %}
                </span>
              </a>
            </facet-remove>
          {%- endfor -%}
          {% if filter.type == 'price_range' %}
            {%- if filter.min_value.value != null or filter.max_value.value != null -%}
              <facet-remove class="item-active btn-border-radius">
                <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                  <span class="active-facets__button-inner button button--tertiary">
                    {%- if filter.min_value.value -%}
                      {{ filter.min_value.value | money }}
                    {%- else -%}
                      {{ 0 | money }}
                    {%- endif -%}
                    -
                    {%- if filter.max_value.value -%}
                      {{ filter.max_value.value | money }}
                    {%- else -%}
                      {{ filter.range_max | money }}
                    {%- endif -%}
                    {% render 'icon', icon_name: 'icon-clear-active-facets' %}
                  </span>
                </a>
              </facet-remove>
            {%- endif -%}
          {% endif %}

          {% if filter.min_value.value != null or filter.max_value.value != null or activeValueCount > 0 %}
            {% assign showClearAll = true %}
          {% endif %}
        {%- endfor -%}

        {% if showClearAll %}
          <a href="{{ collection.url }}" class="clear-all">{{ 'sections.collection_template.clear_all' | t }}</a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  {%- if filter_type == 'vertical' or filter_type == 'vertical-right' %}
    {% if collections != blank %}
      <details
        id="Details-{{ forloop.index }}-{{ section.id }}"
        class="facets__disclosure-vertical js-filter"
        data-index="{{ forloop.index }}"
        open
      >
        <summary class="facets__summary caption-large focus-offset mb-5">
          <div class="facet-title">
            <span class="facet-font-size-title"> {{ 'listing_product.sidebar.collection.label' | t }}</span>
            {% comment %} {% render 'icon', icon_name: 'menu-down' %} {% endcomment %}
          </div>
        </summary>
        <ul class="collection__menu">
          {%- for collection in collections -%}
            <li class="list-menu__item facets__item">
              <a href="{{ collection.url }}">
                <label class="facet-checkbox">
                  <span aria-hidden="true">
                    <small class="item-name facet-font-size-item"> {{ collection.title }}</small>
                    <small>
                      {% if collection.products_count > 9 %}
                        {{ collection.products_count }}
                      {% elsif collection.products_count > 99 %}
                        99+
                      {% else %}
                        0{{ collection.products_count }}
                      {% endif %}
                    </small>
                  </span>
                </label>
              </a>
            </li>
          {% endfor %}
          <button class="button-show-more link underlined-link no-js-hidden" id="loadmore">
            <span class="label-show-more label-text">
              <span class="facet-font-size-title">+ </span>
              {{ 'products.facets.show_more' | t -}}
            </span>
          </button>
        </ul>
      </details>
    {%- endif -%}
  {%- endif -%}
  <facet-filters-form class="facets small-hide">
    <form
      class="facets__form-vertical"
      id="FacetFiltersForm"
      data-price-has-apply="{{ section.settings.enable_apply_button }}"
    >
      {%- if results.terms -%}
        <input
          type="hidden"
          name="q"
          value="{{ results.terms | escape }}"
        >
        <input
          name="options[prefix]"
          type="hidden"
          value="last"
        >
      {%- endif -%}

      {% if enable_filtering %}
        {% comment %}
          Heading is the first tabbable element on filter type horizontal
        {% endcomment %}
        <div id="FacetsWrapperDesktop">
          {% comment %}
            Filters for both horizontal and vertical filter
          {% endcomment %}
          {%- for filter in results.filters -%}
            {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
            {% case filter.type %}
              {% when 'boolean', 'list' %}
       
              {% when 'price_range' %}
                {% liquid
                  assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                  assign uses_comma_decimals = false
                  if currencies_using_comma_decimals contains cart.currency.iso_code
                    assign uses_comma_decimals = true
                  endif
                %}
                <details
                  id="Details-{{ forloop.index }}-{{ section.id }}"
                  class="facets__disclosure-vertical js-filter"
                  data-index="{{ forloop.index }}"
                  open
                >
                  <summary class="facets__summary caption-large focus-offset mb-5">
                    <div class="facet-title">
                      <span class="facet-font-size-title">{{ filter.label | escape }}</span>

                      {% comment %} {% render 'icon', icon_name: 'menu-down' %} {% endcomment %}
                    </div>
                  </summary>
                  {% assign price_type = section.settings.price_type %}
                  {% if price_type == 'slider' %}
                    <div class="facets__display-vertical" id="Facet-{{ forloop.index }}-{{ section.id }}">
                      {%- assign max_price_amount = filter.range_max
                        | money_without_trailing_zeros
                        | strip_html
                        | escape
                      -%}
                      <price-range class="facets__price">
                        <div class="wrapper-price-filter">
                          <div class="info-price">
                            <span class="min-price">
                              {{- cart.currency.symbol -}}
                              <small>0</small>
                            </span>
                            <span class="hash">-</span>
                            <span class="max-price">
                              {{- cart.currency.symbol -}}
                              <small>{{ filter.range_max | money_without_currency | replace: ',', '' }}</small>
                            </span>
                          </div>
                          <div class="slider">
                            <div class="progress"></div>
                          </div>
                          <div class="range-input">
                            <input
                              class="field__input range-min"
                              step="1"
                              name="{{ filter.min_value.param_name }}"
                              id="Filter-{{ filter.label | escape }}-GTE"
                              {%- if filter.min_value.value -%}
                                {%- if uses_comma_decimals -%}
                                  value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                {%- endif -%}
                              {% else %}
                                value="0"
                              {%- endif -%}
                              type="range"
                              placeholder="0"
                              min="0"
                              {%- if uses_comma_decimals -%}
                                max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              {% endif %}
                            >

                            <input
                              class="field__input range-max"
                              step="1"
                              name="{{ filter.max_value.param_name }}"
                              id="Filter-{{ filter.label | escape }}-LTE"
                              {%- if filter.max_value.value -%}
                                {%- if uses_comma_decimals -%}
                                  value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                {%- endif -%}
                              {% else %}
                                {%- if uses_comma_decimals -%}
                                  value="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  value="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                {%- endif %}
                              {%- endif -%}
                              type="range"
                              min="0"
                              {%- if uses_comma_decimals -%}
                                placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              {% endif %}
                            >
                          </div>

                          {% if section.settings.enable_apply_button %}
                            <button
                              class="btn-price-filter btn-border hover-left-to-right btn-border-radius"
                              type="button"
                            >
                              Apply now
                            </button>
                          {% endif %}
                        </div>
                      </price-range>
                    </div>
                  {% else %}
                    <div class="facets__display-vertical" id="Facet-{{ forloop.index }}-{{ section.id }}">
                      {%- assign max_price_amount = filter.range_max
                        | money_without_trailing_zeros
                        | strip_html
                        | escape
                      -%}
                      <price-range class="facets__price">
                        <ul class="wrapper-price-filter">
                          <input
                            class="field__input range-min"
                            name="{{ filter.min_value.param_name }}"
                            id="Filter-{{ filter.label | escape }}-GTE"
                            type="hidden"
                          >
                          <input
                            class="field__input range-max"
                            name="{{ filter.max_value.param_name }}"
                            id="Filter-{{ filter.label | escape }}-LTE"
                            type="hidden"
                          >
                          {% assign price_array = section.settings.price_range_config | split: ',' %}
                          {% for prices in price_array %}
                            {% assign prices_split = prices | split: '-' %}
                            <li class="price_range--item cursor-pointer facet-checkbox">
                              {% for item_prices in prices_split %}
                                {% if forloop.first %}
                                  <span class="minp facet-font-size-item" data-min-price="{{ item_prices }}">
                                    {{- cart.currency.symbol -}}
                                    {{- item_prices -}}
                                  </span>
                                  -
                                {% endif %}

                                {% if forloop.last %}
                                  <span class="maxp facet-font-size-item" data-max-price="{{ item_prices }}">
                                    {{- cart.currency.symbol -}}
                                    {{- item_prices -}}
                                  </span>
                                {% endif %}
                              {% endfor %}
                            </li>
                          {% endfor %}
                        </ul>
                      </price-range>
                    </div>
                  {% endif %}
                </details>
            {% endcase %}
          {%- endfor -%}
        </div>
      {% endif %}

      {% if results.current_vendor or results.current_type %}
        <input
          type="hidden"
          name="q"
          value="{{ results.current_vendor }}{{ results.current_type }}"
        >
      {% endif %}
    </form>
  </facet-filters-form>
  {%- if filter_type == 'vertical' or filter_type == 'vertical-right' %}
    <details
      id="Details-{{ forloop.index }}-{{ section.id }}"
      class="facets-recently-product facets__disclosure-vertical js-filter hidden"
      data-recent-single="true"
      data-index="{{ forloop.index }}"
      open
    >
      <summary class="facets__summary caption-large focus-offset mb-5">
        <div class="facet-title facet-title__recent">
          <span class="facet-font-size-title"> {{ 'listing_product.sidebar.recently_product.label' | t }}</span>
          {% comment %} {% render 'icon', icon_name: 'menu-down' %} {% endcomment %}
        </div>
      </summary>
      <div class="collection__menu">
        <div class="recently-product" id="recently-product">
          <div class="recently-product__main" id="recently-product__main"></div>
        </div>
      </div>
    </details>
  {%- endif -%}
  <style>
    {% if section.settings.fsize_scale != blank %}

    .facet-font-size-title {
      font-size: calc({{ section.settings.fsize_scale | divided_by: 100.0 }} * 1.125rem);
    }

    .facet-font-size-item {
      font-size: calc({{ section.settings.fsize_scale | divided_by: 100.0 }} * 0.875rem);
    }
    {% endif %}
    .card .price-item {
      color: #000000!important;
    }
    .product-grid-container .facet-filters__field button{
      color: #000000!important;
    }
    .font-normal {
      color: #000000!important;
    }
    .collection-filter-title {
      color: #000000!important;
    }
  </style>
</div>
