{% comment %}
  Renders header icon for header section

  Usage:
  {% render 'header-icon', type: 'menu-left', call: 'mobile' %}
{% endcomment %}
{% if call == 'desktop' %}
  <ul
    class="header__menu flex items-start"
    data-call="{{ call }}"
    data-has-mega-menu="{{ hasMegamenu }}"
  >
    {%- for link in block.settings.menu.links -%}
      {% assign indexItemLv1 = forloop.index %}
      {% liquid
        assign child_list_handle = link.title | handle
        if link.links != blank
          if link.levels == 2
            assign levelclass = ' mega-menu'
          else
            assign levelclass = ' sub-menu-normal'
          endif
        endif
      %}

      {%- if link.links != blank -%}
        {% liquid
          assign upCaseLinkTitle = link.title | upcase
          assign upCaseListLabel1 = section.settings.list_label1 | upcase
          assign upCaseListLabel2 = section.settings.list_label2 | upcase
          assign hasExistHot = false
          assign hasExistNew = false
          if upCaseListLabel1 contains upCaseLinkTitle
            assign hasExistHot = true
          endif

          if upCaseListLabel2 contains upCaseLinkTitle
            assign hasExistNew = true
          endif
        %}
        <li
          data-level="{{ link.levels }}"
          data-value-title="{{ upCaseLinkTitle }}"
          class="menu-item flex flex-col menu-lv1 has-dropdown{{ levelclass }}{% if link.current %} menu-item--active{% endif %}"
          data-exist-hot="{{ hasExistHot }}"
          data-exist-new="{{ hasExistNew }}"
        >
          <a
            href="{{ link.url }}"
            title="{{ link.title | escape }}"
            class="flex items-center"
          >
            {{ link.title | escape }}
            {% render 'icon', icon_name: 'icon-arrow-right-2', width: 8, height: 8 %}

            {% if hasExistHot and section.settings.check_label1 %}
              <span class="status-item-menu item-hot">{{ section.settings.name_label1 }}</span>
            {% endif %}

            {% if hasExistNew and section.settings.check_label2 %}
              <span class="status-item-menu item-new">{{ section.settings.name_label2 }}</span>
            {% endif %}
          </a>
          {% if link.levels == 2 %}
            <div
              class="mega-sub"
              role="list"
              tabindex="-1"
            >
            <ul class="container mega-sub__list">
          {% else %}
            <ul
              class="mb-7.5"
              role="list"
              tabindex="-1"
            >
          {% endif %}
          {% for child_link in linklists[child_list_handle].links %}
            {% assign grand_child_list_handle = child_link.title | handle %}
            {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
              <li class="menu-item menu-lv2 mega-lv2 mega-sub__heading mb-1.25">
                <a
                  href="{{ child_link.url }}"
                  title="{{ child_link.title | escape }}"
                  class="menu-drawer__menu-item"
                >
                  {{ child_link.title | escape }}
                </a>
                <ul class="sub-lv2 mt-5">
                  {% assign checkLabel = false %}

                  {% for grand_child_link in linklists[grand_child_list_handle].links %}
                    {% assign check_label1 = false %}
                    {% assign check_label2 = false %}

                    {% assign checkLabel = true %}

                    {%- style -%}
                      .mega-sub__list .item-hot {
                        background: {{ section.settings.bgcolor_label1 }}
                        ;
                        color: {{ section.settings.textcolor_label1 }}
                        ;
                      }

                      .mega-sub__list .item-new {
                        background: {{ section.settings.bgcolor_label2 }}
                        ;
                        color: {{ section.settings.textcolor_label2 }}
                        ;
                      }
                    {%- endstyle -%}

                    {% liquid
                      assign upCaseLinkTitle = grand_child_link.title | upcase
                      assign upCaseListLabel1 = section.settings.list_label1 | upcase
                      assign upCaseListLabel2 = section.settings.list_label2 | upcase

                      assign hasExistHot = false
                      assign hasExistNew = false
                      if upCaseListLabel1 contains upCaseLinkTitle
                        assign hasExistHot = true
                      endif
                      if upCaseListLabel2 contains upCaseLinkTitle
                        assign hasExistNew = true
                      endif

                      if section.settings.check_label1
                        assign check_label1 = true
                      endif

                      if section.settings.check_label2
                        assign check_label2 = true
                      endif
                    %}

                    <li
                      class="mega-sub__item menu-lv3"
                      data-exist-hot="{{ hasExistHot }}"
                      data-exist-new="{{ hasExistNew }}"
                    >
                      <a
                        href="{{ grand_child_link.url }}"
                        title="{{ grand_child_link.title | escape }}"
                        class="menu-drawer__menu-item"
                      >
                        {{ grand_child_link.title | escape }}

                        {% if hasExistHot and check_label1 %}
                          <span class="status-lv-diff-1 item-hot">{{ section.settings.name_label1 }}</span>
                        {% endif %}

                        {% if hasExistNew and check_label2 %}
                          <span class="status-lv-diff-1 item-new">{{ section.settings.name_label2 }}</span>
                        {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="menu-item menu-lv2 mb-1.25">
                <a
                  href="{{ child_link.url }}"
                  title="{{ child_link.title | escape }}"
                  class="menu-drawer__menu-item"
                >
                  {{ child_link.title | escape }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
          {% if link.levels < 2 %}
            </ul>
          {% else %}
            </ul>
            </div>
          {% endif %}
        </li>
      {% else %}
        {% liquid
          if hasMegamenu
            for block in section.blocks
              case block.type
                when 'megamenu'
                  assign blockMegaMenuIndex = block.settings.block_foritem | times: 1
                  assign targetIndexItemLv1 = indexItemLv1 | times: 1

                  assign map = false
                  if blockMegaMenuIndex == targetIndexItemLv1
                    assign map = true
                  endif
                when 'megaimage'
                  assign blockMegaMenuIndex = block.settings.block_megaimage_foritem | times: 1
                  assign targetIndexItemLv1 = indexItemLv1 | times: 1
                  if blockMegaMenuIndex == targetIndexItemLv1
                    assign imgmap = true
                  else
                    assign imgmap = false
                  endif

                when 'submenu_type1'
                  assign blockMegaMenuType1 = block.settings.submenu_foritem | times: 1
                  assign targetIndexItemLv1 = indexItemLv1 | times: 1
                  if blockMegaMenuType1 == targetIndexItemLv1
                    assign mapSubmenuType1 = true
                  else
                    assign mapSubmenuType1 = false
                  endif
              endcase
            endfor
          endif

          assign upCaseLinkTitle = link.title | upcase
          assign upCaseListLabel1 = section.settings.list_label1 | upcase
          assign upCaseListLabel2 = section.settings.list_label2 | upcase
          assign hasExistHot = false
          assign hasExistNew = false
          if upCaseListLabel1 contains upCaseLinkTitle
            assign hasExistHot = true
          endif

          if upCaseListLabel2 contains upCaseLinkTitle
            assign hasExistNew = true
          endif
        %}
        <li
          data-level="{{ link.levels }}"
          data-value-title="{{ link.title | upcase }}"
          class="menu-item menu-lv1{% if map or imgmap or mapSubmenuType1 %} mega-menu has-dropdown{% else %} standard-menu{% endif %}{% if link.current %} menu-item--active{% endif %}"
          data-exist-hot="{{ hasExistHot }}"
          data-exist-new="{{ hasExistNew }}"
        >
          <a
            href="{{ link.url }}"
            class="{% if link.child_active %} msenu-drawer__menu-item--active{% endif %}{% if map or imgmap or mapSubmenuType1 %} flex items-center{% endif %}"
            aria-current="page"
          >
            {{ link.title | escape }}

            {% if map or imgmap or mapSubmenuType1 %}
              {% render 'icon', icon_name: 'menu-down' %}
            {% endif %}

            {% if hasExistHot and section.settings.check_label1 %}
              <span class="status-item-menu item-hot">{{ section.settings.name_label1 }}</span>
            {% endif %}
            {% if hasExistNew and section.settings.check_label2 %}
              <span class="status-item-menu item-new">{{ section.settings.name_label2 }}</span>
            {% endif %}
          </a>

          {% if map %}
            <div
              class="p-absolute mega-sub sub-shadow"
              role="list"
              tabindex="-1"
            >
              <div class="mega-menu-block container">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'megamenu' %}
                      {%- style -%}
                        .mega-menu-block .item-hot {
                          background: {{ block.settings.bgcolor_label1 }}
                          ;
                          color: {{ block.settings.textcolor_label1 }}
                          ;
                        }

                        .mega-menu-block .item-new {
                          background: {{ block.settings.bgcolor_label2 }}
                          ;
                          color: {{ block.settings.textcolor_label2 }}
                          ;
                        }
                      {%- endstyle -%}
                      <div class="row-custom menu-product">
                        {% if block.settings.block_menu1 != blank
                          or block.settings.block_menu2 != blank
                          or block.settings.block_menu3 != blank
                        %}
                          <div class="mega-menu-block__list-menu">
                            {% if block.settings.block_menu1 != blank %}
                              <div class="menu-item-mega-block">
                                <h4>{{ block.settings.block_menu1.title }}</h4>
                                <ul>
                                  {%- for link in block.settings.block_menu1.links -%}
                                    {% liquid
                                      assign upCaseLinkTitle = link.title | upcase
                                      assign upCaseListLabel1 = block.settings.list_label1 | upcase
                                      assign upCaseListLabel2 = block.settings.list_label2 | upcase
                                      assign hasExistHot = false
                                      assign hasExistNew = false
                                      if upCaseListLabel1 contains upCaseLinkTitle
                                        assign hasExistHot = true
                                      endif
                                      if upCaseListLabel2 contains upCaseLinkTitle
                                        assign hasExistNew = true
                                      endif
                                    %}
                                    <li data-exist-hot="{{ hasExistHot }}" data-exist-new="{{ hasExistNew }}">
                                      <a
                                        href="{{ link.url }}"
                                        class="{% if link.child_active %} msenu-drawer__menu-item--active{% endif %}{% if map %} flex items-center{% endif %}"
                                        aria-current="page"
                                      >
                                        {{ link.title | escape }}

                                        {% if hasExistHot and block.settings.check_label1 %}
                                          <span class="status-lv-diff-1 item-hot">
                                            {{- block.settings.name_label1 -}}
                                          </span>
                                        {% endif %}

                                        {% if hasExistNew and block.settings.check_label2 %}
                                          <span class="status-lv-diff-1 item-new">New</span>
                                        {% endif %}
                                      </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            {% endif %}

                            {% if block.settings.block_menu2 != blank %}
                              <div class="menu-item-mega-block">
                                <h4>{{ block.settings.block_menu2.title }}</h4>
                                <ul>
                                  {%- for link in block.settings.block_menu2.links -%}
                                    {% liquid
                                      assign upCaseLinkTitle = link.title | upcase
                                      assign upCaseListLabel1 = block.settings.list_label1 | upcase
                                      assign upCaseListLabel2 = block.settings.list_label2 | upcase
                                      assign hasExistHot = false
                                      assign hasExistNew = false
                                      if upCaseListLabel1 contains upCaseLinkTitle
                                        assign hasExistHot = true
                                      endif
                                      if upCaseListLabel2 contains upCaseLinkTitle
                                        assign hasExistNew = true
                                      endif
                                    %}
                                    <li data-exist-hot="{{ hasExistHot }}" data-exist-new="{{ hasExistNew }}">
                                      <a
                                        href="{{ link.url }}"
                                        class="{% if link.child_active %} msenu-drawer__menu-item--active{% endif %}{% if map %} flex items-center{% endif %}"
                                        aria-current="page"
                                      >
                                        {{ link.title | escape }}

                                        {% if hasExistHot and block.settings.check_label1 %}
                                          <span class="status-lv-diff-1 item-hot">
                                            {{- block.settings.name_label1 -}}
                                          </span>
                                        {% endif %}
                                        {% if hasExistNew and block.settings.check_label2 %}
                                          <span class="status-lv-diff-1 item-new">
                                            {{- block.settings.name_label2 -}}
                                          </span>
                                        {% endif %}
                                      </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            {% endif %}

                            {% if block.settings.block_menu3 != blank %}
                              <div class="menu-item-mega-block">
                                <h4>{{ block.settings.block_menu3.title }}</h4>
                                <ul>
                                  {%- for link in block.settings.block_menu3.links -%}
                                    {% liquid
                                      assign upCaseLinkTitle = link.title | upcase
                                      assign upCaseListLabel1 = block.settings.list_label1 | upcase
                                      assign upCaseListLabel2 = block.settings.list_label2 | upcase
                                      assign hasExistHot = false
                                      assign hasExistNew = false
                                      if upCaseListLabel1 contains upCaseLinkTitle
                                        assign hasExistHot = true
                                      endif
                                      if upCaseListLabel2 contains upCaseLinkTitle
                                        assign hasExistNew = true
                                      endif
                                    %}
                                    <li data-exist-hot="{{ hasExistHot }}" data-exist-new="{{ hasExistNew }}">
                                      <a
                                        href="{{ link.url }}"
                                        class="{% if link.child_active %} msenu-drawer__menu-item--active{% endif %}{% if map %} flex items-center{% endif %}"
                                        aria-current="page"
                                      >
                                        {{ link.title | escape }}

                                        {% if hasExistHot and block.settings.check_label1 %}
                                          <span class="status-lv-diff-1 item-hot">
                                            {{- block.settings.name_label1 -}}
                                          </span>
                                        {% endif %}
                                        {% if hasExistNew and block.settings.check_label2 %}
                                          <span class="status-lv-diff-1 item-new">
                                            {{- block.settings.name_label2 -}}
                                          </span>
                                        {% endif %}
                                      </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}

                        {% if block.settings.block_product_list != blank %}
                          <div class="mega-menu-block__list-product">
                            <div class="list-product-head">
                              <h3>{{ block.settings.list_product_title }}</h3>
                              <div class="list-product-head__navigation">
                                <span class="icon-prev-type1">
                                  {% render 'icon', icon_name: 'icon-prev-type1' %}
                                </span>
                                <span class="icon-next-type1">
                                  {% render 'icon', icon_name: 'icon-next-type1' %}
                                </span>
                              </div>
                            </div>
                            <div class="swiper">
                              <div class="swiper-wrapper">
                                {% for product in block.settings.block_product_list %}
                                  <div class="swiper-slide">
                                    {% render 'card-product',
                                      card_product: product,
                                      section: section,
                                      layoutProductItem: section.settings.product_item_layout,
                                      lazy_load: lazy_load
                                    %}
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      </div>

                      {% if block.settings.logo_image1 != blank or block.settings.logo_image2 != blank %}
                        <div class="row-custom">
                          <div class="mega-menu-block__list-banner">
                            {% if block.settings.logo_image1 != blank %}
                              <a
                                {% if block.settings.url_logo_image1 == blank %}
                                  role="link"aria-disabled="true"
                                {% else %}
                                  href="{{ block.settings.url_logo_image1 }}"
                                {% endif %}
                              >
                                <img
                                  src="{{ block.settings.logo_image1 | image_url: width: block.settings.logo_image1.width, height: block.settings.logo_image1.height }}"
                                  alt="{{ block.settings.logo_image1.alt }}"
                                  loading="lazy"
                                  width="{{ block.settings.logo_image1.width }}"
                                  height="{{ block.settings.logo_image1.height }}"
                                >
                              </a>
                            {% endif %}

                            {% if block.settings.logo_image2 != blank %}
                              <a
                                {% if block.settings.url_logo_image2 == blank %}
                                  role="link"aria-disabled="true"
                                {% else %}
                                  href="{{ block.settings.url_logo_image2 }}"
                                {% endif %}
                              >
                                <img
                                  src="{{ block.settings.logo_image2 | image_url: width: block.settings.logo_image2.width, height: block.settings.logo_image2.height }}"
                                  alt="{{ block.settings.logo_image2.alt }}"
                                  loading="lazy"
                                  width="{{ block.settings.logo_image2.width }}"
                                  height="{{ block.settings.logo_image2.height }}"
                                >
                              </a>
                            {% endif %}
                          </div>
                        </div>
                      {% endif %}
                  {% endcase %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if imgmap %}
            <div
              class="p-absolute mega-sub sub-shadow mega-demo-sub"
              role="list"
              tabindex="-1"
            >
              <div class="max-w-[1300px] w-[1300px] mt-0 mb-0 ml-auto mr-auto">
                <div class="flex flex-wrap justify-start ml-[-15px] mr-[-15px]">
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'megaimage' %}
                        {% for i in (1..14) %}
                          {% capture text %}mi_text_{{ i }}{% endcapture %}
                          {% capture demolink %}mi_link_{{ i }}{% endcapture %}
                          {% capture img %}mi_img_{{ i }}{% endcapture %}
                          {% capture label %}mi_label_{{ i }}{% endcapture %}
                          {% capture target %}mi_target_{{ i }}{% endcapture %}

                          {% if block.settings[text] != blank and block.settings[img] != blank %}
                            <div class="item-demo item-{{ i }}">
                              <a
                                class="item-demo__img shadow-md block overflow-hidden"
                                target="{{ block.settings[target] }}"
                                title="{{ block.settings[text] }}"
                                href="{{ block.settings[demolink] }}"
                              >
                                {% if block.settings[label] == 'new' or block.settings[label] == 'hot' %}
                                  <div class="item-demo__label">
                                    <div class="label-wrap label--{{ block.settings[label] }}">
                                      <span class="label-text">
                                        {{ block.settings[label] }}
                                      </span>
                                    </div>
                                  </div>
                                {% endif %}

                                <img
                                  src="{{ block.settings[img] | image_url: width: 380, height: 500 }}"
                                  alt="{{ block.settings[text] }}"
                                >
                              </a>
                              <h5>
                                <a title="{{ block.settings[text] }}" href="{{ block.settings[demolink] }}">
                                  {{ block.settings[text] }}
                                </a>
                              </h5>
                            </div>
                          {% endif %}
                        {% endfor %}
                    {% endcase %}
                  {% endfor %}
                </div>

                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'megaimage' %}
                      <div class="mega-sub__btn">
                        <a href="{{ block.settings.explore_link | default: '#' }}" class="mega-sub-btn">
                          {{- block.settings.explore -}}
                        </a>
                      </div>
                  {% endcase %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if mapSubmenuType1 %}
            <div
              class="p-absolute mega-sub sub-shadow"
              role="list"
              tabindex="-1"
            >
              <div class="container mt-0 mb-0 ml-auto mr-auto">
                <div class="flex flex-wrap justify-center ml-[-15px] mr-[-15px]">
                  <div class="submenu-type1 flex">
                    {% for block in section.blocks %}
                      {% case block.type %}
                        {% when 'submenu_type1' %}
                          <div class="submenu-type1__left">
                            {% if block.settings.submenu_select != blank %}
                              {% if block.settings.submenu_select != blank %}
                                <div class="menu-item-mega-block">
                                  <h4 class="mb-2">{{ block.settings.submenu_fea }}</h4>
                                  <ul class="submenu-type1__nav">
                                    {%- for link in block.settings.submenu_select.links -%}
                                      <li class="submenu-type1__nav__item">
                                        <a
                                          href="{{ link.url }}"
                                          class="submenu-type1__nav__link{% if link.child_active %} msenu-drawer__menu-item--active{% endif %}{% if map %} flex items-center{% endif %}"
                                          aria-current="page"
                                        >
                                          {{ link.title | escape }}
                                        </a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% endif %}
                            {% endif %}
                          </div>
                          <div class="submenu-type1__right">
                            <div class="submenu-type1__wrap flex flex-start justify-center gap-10">
                              {% for i in (1..3) %}
                                {% capture imgCate %}submenu_image_{{ i }}{% endcapture %}
                                {% capture titleCate %}submenu_title_{{ i }}{% endcapture %}
                                {% capture urlCate %}submenu_url_{{ i }}{% endcapture %}
                                <div class="submenu-type1__right__item">
                                  <a
                                    class="submenu-type1__right__img"
                                    href="{{ block.settings[urlCate] | default: "#" }}"
                                  >
                                    {% if block.settings[imgCate] %}
                                      <img
                                        class="mb-2.5"
                                        src="{{ block.settings[imgCate] | image_url: width: 200, height: 300 }}"
                                        alt="{{ block.settings[titleCate] }}"
                                      >
                                    {% endif %}
                                  </a>
                                  <a
                                    class="submenu-type1__right__title"
                                    href="{{ block.settings[urlCate] | default: "#" }}"
                                  >
                                    {% if block.settings[titleCate] %}
                                      {{ block.settings[titleCate] }}
                                    {% endif %}
                                  </a>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                      {% endcase %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  {% comment %}Call is mobile{% endcomment %}
  <ul class="nav-bar mb-10">
    {%- liquid
      assign menuMobile = section.settings.menu
      if section.settings.menu_mobile != blank
        assign menuMobile = section.settings.menu_mobile
      endif
    %}
    {%- for link in menuMobile.links -%}
      {% assign child_list_handle = link.title | handle %}
      <li class="menu-lv-1 menu-item {{ link.levels }} flex justify-between items-center">
        {% liquid
          if link.levels >= 1
            assign url = '#'
          else
            assign url = link.url
          endif
        %}
        <a
          href="{{ url }}"
          title="{{ link.title | escape }}"
          class="flex justify-between items-center"
        >
          {{ link.title | escape }}
          {% if link.levels >= 1 %}
            {% render 'icon', icon_name: 'icon-arrow-right-2', width: 8, height: 8 %}
          {% endif %}
        </a>

        {% if link.levels >= 1 %}
          <div class="sub-menu-mobile">
            <div class="tp-back-menu flex items-center font-normal">
              <svg
                class=" mr-3.75"
                xmlns="http://www.w3.org/2000/svg"
                width="5"
                height="10"
                viewBox="0 0 5 10"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.8951 0.112982C4.86194 0.0771683 4.82253 0.0487541 4.77916 0.0293668C4.73578 0.00997949 4.68927 0 4.64231 0C4.59535 0 4.54884 0.00997949 4.50546 0.0293668C4.46209 0.0487541 4.42268 0.0771683 4.38952 0.112982L0.104897 4.72783C0.0716462 4.76355 0.0452652 4.80599 0.0272655 4.85271C0.00926542 4.89943 0 4.94952 0 5.0001C0 5.05068 0.00926542 5.10077 0.0272655 5.14749C0.0452652 5.19422 0.0716462 5.23665 0.104897 5.27238L4.38952 9.88722C4.45656 9.95943 4.54749 10 4.64231 10C4.73713 10 4.82806 9.95943 4.8951 9.88722C4.96215 9.81501 4.99981 9.71707 4.99981 9.61494C4.99981 9.51282 4.96215 9.41488 4.8951 9.34267L0.862561 5.0001L4.8951 0.657534C4.92835 0.62181 4.95473 0.579373 4.97273 0.532651C4.99073 0.485929 5 0.435842 5 0.385258C5 0.334673 4.99073 0.284586 4.97273 0.237865C4.95473 0.191143 4.92835 0.148705 4.8951 0.112982Z"
                  fill="#898989" />
              </svg>
              Back
            </div>
            <div class="main-header-mobile">
              <div class="font-normal mb-1 px-4" style="color: var(--color-accent)">{{ link.title | escape }}</div>
              <ul class="site-nav-dropdown mb-12.5">
                {% for child_link in linklists[child_list_handle].links %}
                  {% assign grand_child_list_handle = child_link.title | handle %}
                  {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
                    <li class="menu-lv-2 menu-item hide_pc">
                      {% liquid
                        if link.levels >= 2
                          assign child_url = '#'
                        else
                          assign child_url = link.url
                        endif
                      %}
                      <a
                        href="{{ child_url }}"
                        title="{{ child_link.title | escape }}"
                        class="menu-drawer__menu-item flex justify-between items-center"
                      >
                        {{ child_link.title | escape }}
                        {% if link.levels >= 2 %}
                          {% render 'icon', icon_name: 'icon-arrow-right-2', width: 8, height: 8 %}
                        {% endif %}
                      </a>
                      <div class="sub-menu-mobile sub-menu-lv-2-mobile">
                        <div class="tp-back-menu flex items-center font-normal">
                          <svg
                            class=" mr-3.75"
                            xmlns="http://www.w3.org/2000/svg"
                            width="5"
                            height="10"
                            viewBox="0 0 5 10"
                            fill="none"
                          >
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M4.8951 0.112982C4.86194 0.0771683 4.82253 0.0487541 4.77916 0.0293668C4.73578 0.00997949 4.68927 0 4.64231 0C4.59535 0 4.54884 0.00997949 4.50546 0.0293668C4.46209 0.0487541 4.42268 0.0771683 4.38952 0.112982L0.104897 4.72783C0.0716462 4.76355 0.0452652 4.80599 0.0272655 4.85271C0.00926542 4.89943 0 4.94952 0 5.0001C0 5.05068 0.00926542 5.10077 0.0272655 5.14749C0.0452652 5.19422 0.0716462 5.23665 0.104897 5.27238L4.38952 9.88722C4.45656 9.95943 4.54749 10 4.64231 10C4.73713 10 4.82806 9.95943 4.8951 9.88722C4.96215 9.81501 4.99981 9.71707 4.99981 9.61494C4.99981 9.51282 4.96215 9.41488 4.8951 9.34267L0.862561 5.0001L4.8951 0.657534C4.92835 0.62181 4.95473 0.579373 4.97273 0.532651C4.99073 0.485929 5 0.435842 5 0.385258C5 0.334673 4.99073 0.284586 4.97273 0.237865C4.95473 0.191143 4.92835 0.148705 4.8951 0.112982Z"
                              fill="#898989" />
                          </svg>
                          Back
                        </div>
                        <div class="main-header-mobile">
                          <ul class="site-nav-dropdown">
                            {% for grand_child_link in linklists[grand_child_list_handle].links %}
                              <li class="menu-lv-2 hide_pc">
                                <a
                                  href="{{ grand_child_link.url }}"
                                  title="{{ grand_child_link.title | escape }}"
                                  class="menu-drawer__menu-item"
                                >
                                  {{ grand_child_link.title | escape }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </li>
                  {% else %}
                    <li class="menu-lv-2 menu-item hide_pc">
                      <a
                        href="{{ child_link.url }}"
                        title="{{ child_link.title | escape }}"
                        class="menu-drawer__menu-item"
                      >
                        {{ child_link.title | escape }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% comment %}Translate{% endcomment %}
  {% if localization.available_languages.size > 1 %}
    <div class="header-mobile__translate header-mobile__open mb-5">
      <div class="header-mobile__title flex flex-row items-center">
        Languages
        <span class="ml-2 dropdown pointer-events-none">
          {% render 'icon', icon_name: 'icon-drop-down', width: 8, height: 8 %}
        </span>
      </div>
      {% render 'localization-language', device: 'mobile' %}
    </div>
  {% endif %}
  {% if localization.available_countries.size > 1 %}
    {% comment %}Currency{% endcomment %}
    <div class="header-mobile__currency header-mobile__open">
      <div class="header-mobile__title flex flex-row items-center">
        Currency
        <span class="ml-2 dropdown pointer-events-none">
          {% render 'icon', icon_name: 'icon-drop-down', width: 8, height: 8 %}
        </span>
      </div>
      {% render 'localization-country', device: 'mobile' %}
    </div>
  {% endif %}
{% endif %}
