{% assign menu = block.settings.menu %}
{% if menu != blank %}
  <ul
    class="header__menu header-ds2__bottom-item header-ds2__bottom-item-{{ data_index }} {% if first %}active{%  else %}hidden{% endif %}"
    data-call="{{ call }}"
    data-has-mega-menu="{{ hasMegamenu }}">
    {%- for link in menu.links -%}
      {% assign indexItemLv1 = forloop.index %}
      {% liquid
          assign child_list_handle = link.title | handle
          if link.links != blank
              if link.levels == 2
                assign levelclass = ' mega-menu'
              else
                assign levelclass = ' p-relative'
              endif
          endif
      %}
      {%- if link.links != blank -%}
      <li data-level="{{ link.levels }}" class="menu-item menu-lv1 has-dropdown{{ levelclass }}{% if link.current %} menu-item--active{% endif %}">
        <a href="{{ link.url }}" 
          class="flex items-center">
          {{ link.title | escape }}
          {% render 'icon', icon_name: 'menu-down' %}
        </a>
        {% if link.levels == 2 %}
          <div class="p-absolute mega-sub sub-shadow" role="list" tabindex="-1">
            <ul class="container mega-sub__list">
            {% else %}
              <ul class="sub-shadow p-absolute sub" role="list" tabindex="-1">
              {% endif %}
              {% for child_link in linklists[child_list_handle].links %}
                {% assign grand_child_list_handle = child_link.title | handle %}
                {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
                  <li class="menu-item menu-lv2 mega-lv2 mega-sub__heading">
                    <a
                      href="{{ child_link.url }}"
                      title="{{ child_link.title | escape }}"
                      class="menu-drawer__menu-item">
                      {{ child_link.title | escape }}
                    </a>
                    <ul class="sub-lv2 mt-5">
                      {% assign checkLabel = false %}
                      {% for grand_child_link in linklists[grand_child_list_handle].links %}
                        <li
                          class="mega-sub__item menu-lv3"
                          data-exist-hot="{{ hasExistHot }}"
                          data-exist-new="{{ hasExistNew }}">
                          <a
                            href="{{ grand_child_link.url }}"
                            title="{{ grand_child_link.title | escape }}"
                            class="menu-drawer__menu-item">
                            {{ grand_child_link.title | escape }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="menu-item menu-lv2">
                    <a
                      href="{{ child_link.url }}"
                      title="{{ child_link.title | escape }}"
                      class="menu-drawer__menu-item">
                      {{ child_link.title | escape }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if link.levels < 2 %}
              </ul>
          {% else %}
            </ul>
          </div>
        {% endif %}
      </li>
      {% else %}
        <li data-level="{{ link.levels }}" class="menu-item menu-lv1 has-dropdown{{ levelclass }}{% if link.current %} menu-item--active{% endif %}">
          <a href="{{ link.url }}" 
            class="flex items-center">
            {{ link.title | escape }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}