<div class="prd-tab-top__wrapper">
  <div class="prd-tab-top__tab selectSection flex">
    {% for block in section.blocks %}
      {% if block.type == 'normal_tab' %}
        {% liquid
          assign bt = block.settings
          assign collection = collections[bt.collection]
          assign tab_title = block.settings.heading
          if tab_title == blank
            assign tab_title = collection.title
          endif
        %}
        <div
          class="tab-item tab-item-{{ section.id }} {% if forloop.first %} active{% endif %}"
          data-number="{{ forloop.index }}"
          data-section-id="{{ section.id }}"
        >
          <div class="tab-item__wrapper">
            {% liquid
              assign imageFeatured = collection.featured_image
              if imageFeatured != blank
                render 'responsive-image', image: imageFeatured
              else
                render 'no-image-banner', text_size: ''
              endif
            %}
            {{ tab_title }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="prd-tab-top__tab-mobile relative hidden">
    {% render 'icon', icon_name: 'icon-drop-down-2' %}
    <select
      class="prd-tab-select-{{ section.id }}"
      style="-webkit-appearance: none;"
    >
      {% for block in section.blocks %}
        {% if block.type == 'normal_tab' %}
          {% liquid
            assign bt = block.settings
            assign collection = collections[bt.collection]
            assign tab_title = block.settings.heading
            if tab_title == blank
              assign tab_title = collection.title
            endif
          %}
          <option
            class="tab-item-mobile-{{ section.id }}"
            {% if forloop.first %}
              active
            {% endif -%}
            value="{{ forloop.index }}"
          >
            {{ tab_title }}
          </option>
        {% endif %}
      {%- endfor -%}
    </select>
  </div>
  <div class="prd-tab-top__prd">
    {%- for block in section.blocks -%}
      {% if block.type == 'normal_tab' %}
        {% assign collection = collections[block.settings.collection] %}
        <div
          class="prd-tab-top__prd-wrapper js-prd-tab-content"
          data-number="{{ forloop.index }}"
        >
          {% if collection != blank %}
            <ul class="prd-tab-top__prd-inner js-prd-tab-wrapper lg:flex lg:flex-wrap">
              {%- for product in collection.products limit: 12 -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="prd-item w-1/6">
                  {% render 'card-product',
                    card_product: product,
                    section: section,
                    layoutProductItem: section.settings.product_item_layout,
                    lazy_load: lazy_load
                  %}
                </li>
              {%- endfor -%}
            </ul>
          {% else %}
            <ul class="prd-tab-top__prd-inner flex flex-wrap">
              {%- for item in (1..12) -%}
                <li class="prd-item w-1/6">
                  {%- render 'card-product-no-data' -%}
                </li>
              {%- endfor -%}
            </ul>
          {% endif %}
        </div>
      {%- endif -%}
    {% endfor %}
  </div>
</div>
