{% unless settings.shipping_calculator == 'Disabled' %}
  <div id="shipping-calculator" class="tp-shipping-calculator">
    <h5 class="mb-5">{{ settings.shipping_calculator_heading | default: 'Get shipping estimates' }}</h5>

    <div class="mb-5 tp-shipping-calculator__form-field">
      <p class="field-top">
        <select
          id="address_country"
          name="address[country]"
          data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}"
        >
          {{ country_option_tags }}
        </select>
      </p>
      <div class="field-bottom flex items-center justify-start">
        <p class="field mr-4 flex-1" id="address_province_container">
          <select
            id="address_province"
            name="address[province]"
            data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"
          ></select>
        </p>
        <p class="field flex-1">
          <input
            type="text"
            id="address_zip"
            placeholder="Zip code"
            name="address[zip]"
            {% if shop.customer_accounts_enabled %}
              value="{{ customer.default_address.zip }}"
            {% endif %}
          >
        </p>
      </div>
      <div class="field-btn">
        <button
          type="button"
          class="get-rates tp-btn tp-btn__primary w-full"
        >
          {{ settings.shipping_calculator_submit_button_label | default: 'Calculate Shipping' }}
        </button>
      </div>
    </div>

    <div id="wrapper-response"></div>
  </div>

  <script async src="/services/javascripts/countries.js"></script>

 <script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
  {% raw %}
  <em id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
  {{if success}}
      {{if (window.multi_lang && translator.current_lang == 2) }}
          {{if rates.length > 1}}
          	${window.lang2.cart.general.shipping_calculator_success_many_rates.there_are} ${rates.length} ${window.lang2.cart.general.shipping_calculator_success_many_rates.shipping_rates_available_for} ${address}${window.lang2.cart.general.shipping_calculator_success_many_rates.starting_at} {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.
          {{else}}
            {{if rates.length == 1}}
                ${window.lang2.cart.general.shipping_calculator_success_one_rate} ${address}.
            {{else}}
                ${window.lang2.cart.general.shipping_calculator_success_no_rate}
            {{/if}}
          {{/if}}

      {{else}} 
          {{if rates.length > 1}}
              {% endraw %}{{'cart.general.shipping_calculator_success_many_rates.there_are' |t}}{%raw%} ${rates.length} 
              {%endraw%}{{'cart.general.shipping_calculator_success_many_rates.shipping_rates_available_for' |t}}{%raw%} ${address}
              {%endraw%}{{'cart.general.shipping_calculator_success_many_rates.starting_at' |t}}{%raw%} 
              {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.

          {{else}}
              {{if rates.length == 1}}
                  {%endraw%}{{'cart.general.shipping_calculator_success_one_rate' |t}}{%raw%} ${address}.
              {{else}}
                  {%endraw%}{{'cart.general.shipping_calculator_success_no_rate' |t}}{%raw%}
              {{/if}}
          {{/if}}
      {{/if}}
    
  {{else}}
    {{if (window.multi_lang && translator.current_lang == 2) }}
      ${window.lang2.cart.general.shipping_calculator_error_message}
    {{else}}
      ${errorFeedback}
    {{/if}}
  {{/if}}
  </em>
  
  <div id="shipping-rates">
    {{each( index, rate ) rates}}
    <em>
      ${rate.name} 
        {{if (window.multi_lang && translator.current_lang == 2) }}
          	${window.lang2.cart.general.shipping_calculator_success_at}
        {{else}}
        	{%endraw%}{{'cart.general.shipping_calculator_success_at' |t}}{%raw%}
        {{/if}} 
      {{html Shopify.Cart.ShippingCalculator.formatRate(rate.price)}}
    </em>
    {{/each}}
  </div>
  {% endraw %} 
</script>

{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ '/services/javascripts/countries.js' | script_tag }}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'jquery.cart.min.js' | asset_url | script_tag }} 

<script>
  var submitButton = 'BOTON';
  var submitButtonDisabled = '{{'cart.general.shipping_calculator_calculating' | t}}' ;
  
  Shopify.Cart.ShippingCalculator.show({
    submitButton: submitButton,
    submitButtonDisabled: submitButtonDisabled,
    {% if shop.customer_accounts_enabled and customer %}
    customerIsLoggedIn: true,
    {% endif %}
    moneyFormat: {{ shop.money_format | json }}
  });
</script>
{% endunless %}
