{% unless settings.shipping_calculator == 'Disabled' %}
  <div id="shipping-calculator" class="tp-shipping-calculator">
    <h5 class="mb-5">{{ settings.shipping_calculator_heading | default: 'Get shipping estimates' }}</h5>

    <div id="shipping-calculator-form-wrapper" class="clearfix">
      <div class="form-group" id="address_country_container">
        <label for="address_country">
          {{ 'customer.addresses.country' | t }}
        </label>
        <div style="position: relative;">
          <select id="address_country" class="special-select" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">
            {{ country_option_tags }}
          </select>
        </div>
      </div>

      <div class="form-group" id="address_province_container">
        <label for="address_province" id="address_province_label">
          {{ 'customer.addresses.province' | t }}
        </label>
        <div style="position: relative;">
          <select id="address_province" class="address_form special-select" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
        </div>
      </div>

      <div class="form-group" id="address_zip_container">
        <label for="address_zip">
          {{ 'customer.addresses.zip' | t }}
        </label>
        <input type="text" id="address_zip" class="styled-input" name="address[zip]" {% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}" {% endif %} />
      </div>

      <div id="get-rates-container">
        <input type="submit" id="get-rates-submit" class="get-rates styled-submit btn" value="{{ 'cart.general.shipping_calculator_button' | t }}" />
      </div>
    </div>

    <div id="wrapper-response"></div>
  </div>

  <script async src="/services/javascripts/countries.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var shippingCart = document.querySelector('#shipping-calculator');
      if (shippingCart) {
        const wrapperResponse = shippingCart.querySelector('#wrapper-response');
        const addressCountry = shippingCart.querySelector('#address_country');
        const dataProvinces = shippingCart.querySelector('#address_province');

        if (addressCountry) {
          addressCountry.addEventListener('change', function (e) {
            console.log("Selected country: ", this.value);
            const countryTarget = Countries[this.value];
            const countryCode = countryTarget.code;
            e.target.setAttribute('country-code', `${countryCode}`);
            // render province if available
            if (countryTarget.province_codes != null) {
              let html = '';
              for (const [key, value] of Object.entries(countryTarget.province_codes)) {
                html += `<option value="${value}">${key}</option>`;
              }
              dataProvinces.innerHTML = html;
            }
          });
        }

        shippingCart.addEventListener('submit', function (e) {
          e.preventDefault();
          const dataZip = shippingCart.querySelector('#address_zip').value;
          const dataCountry = shippingCart.querySelector('#address_country').getAttribute('country-code');
          const dataProvince = shippingCart.querySelector('#address_province').value;

          let shipping_address = {
            zip: dataZip,
            country: `${dataCountry}`,
            province: `${dataProvince}`,
          };

          fetch(`/cart/shipping_rates.json?shipping_address%5Bzip%5D=${shipping_address.zip}&shipping_address%5Bcountry%5D=${shipping_address.country}&shipping_address%5Bprovince%5D=${shipping_address.province}`)
            .then((res) => res.json())
            .then((data) => {
              const dataShippingRates = data.shipping_rates;
              const count = dataShippingRates.length;
              let html = `<div class="scd__addon-message py-5"><p class="mb-3 text-base">We found ${count} shipping rate(s) for your address:</p>`;
              dataShippingRates.forEach((item) => {
                const namedataShipping = item.name;
                const priceShipping = item.price;
                html += `<p>${namedataShipping}:<span>${window.currencyStrings.symbol}${priceShipping}</span></p>`;
              });
              html += `</div>`;
              wrapperResponse.innerHTML = html;
            });
        });
      }
    });
  </script>
{% endunless %}
