<script>
  const selectors = {
    customerAddresses: '[data-customer-addresses]',
    addressCountrySelect: '[data-address-country-select]',
    addressContainer: '[data-address]',
    toggleAddressButton: 'button[aria-expanded]',
    cancelAddressButton: 'button[type="reset"]',
    deleteAddressButton: 'button[data-confirm-message]',
  };
  const attributes = {
    expanded: 'aria-expanded',
    confirmMessage: 'data-confirm-message',
  };
  class CustomerAddresses {
    constructor() {
      this.elements = this._getElements();
      if (Object.keys(this.elements).length === 0) return;
      this._setupCountries();
      this._setupEventListeners();
    }
    _getElements() {
      const container = document.querySelector(selectors.customerAddresses);
      return container
        ? {
            container,
            addressContainer: container.querySelector(selectors.addressContainer),
            toggleButtons: document.querySelectorAll(selectors.toggleAddressButton),
            cancelButtons: container.querySelectorAll(selectors.cancelAddressButton),
            deleteButtons: container.querySelectorAll(selectors.deleteAddressButton),
            countrySelects: container.querySelectorAll(selectors.addressCountrySelect),
          }
        : {};
    }
    _setupCountries() {
      if (Shopify && Shopify.CountryProvinceSelector) {
        // eslint-disable-next-line no-new
        new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
          hideElement: 'AddressProvinceContainerNew',
        });
        this.elements.countrySelects.forEach((select) => {
          const formId = select.dataset.formId;
          // eslint-disable-next-line no-new
          new Shopify.CountryProvinceSelector(`AddressCountry_${formId}`, `AddressProvince_${formId}`, {
            hideElement: `AddressProvinceContainer_${formId}`,
          });
        });
      }
    }
    _setupEventListeners() {
      this.elements.toggleButtons.forEach((element) => {
        element.addEventListener('click', this._handleAddEditButtonClick);
      });
      this.elements.cancelButtons.forEach((element) => {
        element.addEventListener('click', this._handleCancelButtonClick);
      });
      this.elements.deleteButtons.forEach((element) => {
        element.addEventListener('click', this._handleDeleteButtonClick);
      });
    }
    _toggleExpanded(target) {
      target.setAttribute(attributes.expanded, (target.getAttribute(attributes.expanded) === 'false').toString());
    }
    _handleAddEditButtonClick = ({ currentTarget }) => {
      this._toggleExpanded(currentTarget);
    };
    _handleCancelButtonClick = ({ currentTarget }) => {
      this._toggleExpanded(currentTarget.closest(selectors.addressContainer).querySelector(`[${attributes.expanded}]`));
    };
    _handleDeleteButtonClick = ({ currentTarget }) => {
      // eslint-disable-next-line no-alert
      if (confirm(currentTarget.getAttribute(attributes.confirmMessage))) {
        Shopify.postLink(currentTarget.dataset.target, {
          parameters: { _method: 'delete' },
        });
      }
    };
  }
</script>
{% section 'breadcrumb' %}
{%- paginate customer.addresses by 5 -%}
  <div class="container">
    <div class="customer addresses" data-customer-addresses>
      <h2 class="title-body">{{ 'customer.addresses.title' | t }}</h2>
      <svg style="display: none">
        <symbol id="icon-caret" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                  fill="currentColor">
        </symbol>
      </svg>
      {%- comment -%}
        <a href="{{ routes.account_url }}">
            {{ 'customer.account.return' | t }}
        </a>
      {%- endcomment -%}

      <div class="customer__wrap ca-default">
        <div class="customer__left ca-default__left">
          <ul class="account__ul ca-default__ul">
            <li class="account__li ca-default__li">
              <a href="{{ routes.account_url }}">Dashboard</a>
            </li>
            <li class="account__li ca-default__li">
              <a href="{{ routes.account_addresses_url }}" class="active">Addresses</a>
            </li>
            {%- comment -%}
              <li class="account__li ca-default__li">
                <a href="/pages/wishlist">Wishlist</a>
              </li>
              <li class="account__li ca-default__li">
                <a href="/pages/compare">Compare</a>
              </li>
            {%- endcomment -%}
            <li class="account__li ca-default__li">
              <a href="/cart">Cart</a>
            </li>
            <li class="account__li ca-default__li">
              <a href="{{ routes.account_logout_url }}">Log Out</a>
            </li>
          </ul>
        </div>
        <div class="customer__right ca-default__right">
          <h2 class="product-count__text text-body">{{ 'customer.addresses.subtile' | t }}</h2>
          <div data-address class="mb-[80px]">
            <button
              class="customer__btn tp-btn tp-btn__secondary"
              type="button"
              aria-expanded="false"
              aria-controls="AddAddress"
            >
              {{ 'customer.addresses.add_new' | t }}
            </button>
            <div class="customer__form" id="AddAddress">
              <h2 id="AddressNewHeading mt-7.5">{{ 'customer.addresses.add_new' | t }}</h2>
              {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                <div class="field">
                  <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                  <input
                    type="text"
                    id="AddressFirstNameNew"
                    name="address[first_name]"
                    value="{{ form.first_name }}"
                    autocomplete="given-name"
                    placeholder="{{ 'customer.addresses.first_name' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                  <input
                    type="text"
                    id="AddressLastNameNew"
                    name="address[last_name]"
                    value="{{ form.last_name }}"
                    autocomplete="family-name"
                    placeholder="{{ 'customer.addresses.last_name' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                  <input
                    type="text"
                    id="AddressCompanyNew"
                    name="address[company]"
                    value="{{ form.company }}"
                    autocomplete="organization"
                    placeholder="{{ 'customer.addresses.company' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                  <input
                    type="text"
                    id="AddressAddress1New"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                    autocomplete="address-line1"
                    placeholder="{{ 'customer.addresses.address1' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                  <input
                    type="text"
                    id="AddressAddress2New"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                    autocomplete="address-line2"
                    placeholder="{{ 'customer.addresses.address2' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                  <input
                    type="text"
                    id="AddressCityNew"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    placeholder="{{ 'customer.addresses.city' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                  <div class="select">
                    <select
                      id="AddressCountryNew"
                      name="address[country]"
                      data-default=""
                      autocomplete="country"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    {%- comment -%}
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <use href="#icon-caret" />
                      </svg>
                    {%- endcomment -%}
                  </div>
                </div>
                <div class="field" id="AddressProvinceContainerNew" style="display: none">
                  <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                  <div class="select">
                    <select
                      id="AddressProvinceNew"
                      name="address[province]"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"
                    ></select>
                    {%- comment -%}
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <use href="#icon-caret" />
                      </svg>
                    {%- endcomment -%}
                  </div>
                </div>
                <div class="field">
                  <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                  <input
                    type="text"
                    id="AddressZipNew"
                    name="address[zip]"
                    value="{{ form.zip }}"
                    autocapitalize="characters"
                    autocomplete="postal-code"
                    placeholder="{{ 'customer.addresses.zip' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                  <input
                    type="tel"
                    id="AddressPhoneNew"
                    name="address[phone]"
                    value="{{ form.phone }}"
                    autocomplete="tel"
                    placeholder="{{ 'customer.addresses.phone' | t }}"
                  >
                </div>
                <div class="field">
                  <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                  <span class="unset-input">
                    {{ form.set_as_default_checkbox }}
                  </span>
                </div>
                <div>
                  <button class="customer__btn tp-btn tp-btn__secondary">{{ 'customer.addresses.add' | t }}</button>
                  <button class="customer__btn tp-btn tp-btn__secondary" type="reset">
                    {{ 'customer.addresses.cancel' | t }}
                  </button>
                </div>
              {%- endform -%}
            </div>
          </div>
          <ul role="list">
            {%- for address in customer.addresses -%}
              <li data-address class="item-addresses">
                {%- comment -%}
                  {%- if address == customer.default_address -%}
                      <h2>{{ 'customer.addresses.default' | t }}</h2>
                  {%- endif -%}
                {%- endcomment -%}
                <div class="data-form">
                  {%- comment -%}
                    {{ address | format_address }}
                  {%- endcomment -%}
                  <h2 class="title-form">
                    {{ address.first_name }}
                    {{ address.last_name }}
                  </h2>
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                    <p>{{ address.first_name }}</p>
                  </div>
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                    <p>{{ address.last_name }}</p>
                  </div>
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.company' | t }}</label>
                    <p>{{ address.company }}</p>
                  </div>
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.address1' | t }}</label>
                    <p>{{ address.address1 }}</p>
                  </div>
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.address2' | t }}</label>
                    <p>{{ address.address2 }}</p>
                  </div>
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.city' | t }}</label>
                    <p>{{ address.city }}</p>
                  </div>
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.country' | t }}</label>
                    <p>{{ address.country }}</p>
                  </div>
                  {%- comment -%}
                    <div class="field">
                        <label for="AddressFirstNameNew">{{ 'customer.addresses.province' | t }}</label>
                        <p>{{ address.province }}</p>
                    </div>
                  {%- endcomment -%}
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.zip' | t }}</label>
                    <p>{{ address.zip }}</p>
                  </div>
                  <div class="field">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.phone' | t }}</label>
                    <p>{{ address.phone }}</p>
                  </div>
                </div>
                <button
                  class="customer__btn tp-btn tp-btn__primary"
                  type="button"
                  id="EditFormButton_{{ address.id }}"
                  aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                  aria-controls="EditAddress_{{ address.id }}"
                  aria-expanded="false"
                  data-address-id="{{ address.id }}"
                >
                  {{ 'customer.addresses.edit' | t }}
                </button>
                <button
                  class="customer__btn tp-btn tp-btn__secondary"
                  type="button"
                  aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                  data-target="{{ address.url }}"
                  data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                >
                  {{ 'customer.addresses.delete' | t }}
                </button>
                <div class="customer__form customer__formEdit" id="EditAddress_{{ address.id }}">
                  <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
                  {%- form 'customer_address', address -%}
                    <div class="field">
                      <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                      <input
                        type="text"
                        id="AddressFirstName_{{ form.id }}"
                        name="address[first_name]"
                        value="{{ form.first_name }}"
                        autocomplete="given-name"
                        placeholder="{{ 'customer.addresses.first_name' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                      <input
                        type="text"
                        id="AddressLastName_{{ form.id }}"
                        name="address[last_name]"
                        value="{{ form.last_name }}"
                        autocomplete="family-name"
                        placeholder="{{ 'customer.addresses.last_name' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                      <input
                        type="text"
                        id="AddressCompany_{{ form.id }}"
                        name="address[company]"
                        value="{{ form.company }}"
                        autocomplete="organization"
                        placeholder="{{ 'customer.addresses.company' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                      <input
                        type="text"
                        id="AddressAddress1_{{ form.id }}"
                        name="address[address1]"
                        value="{{ form.address1 }}"
                        autocomplete="address-line1"
                        placeholder="{{ 'customer.addresses.address1' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                      <input
                        type="text"
                        id="AddressAddress2_{{ form.id }}"
                        name="address[address2]"
                        value="{{ form.address2 }}"
                        autocomplete="address-line2"
                        placeholder="{{ 'customer.addresses.address2' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                      <input
                        type="text"
                        id="AddressCity_{{ form.id }}"
                        name="address[city]"
                        value="{{ form.city }}"
                        autocomplete="address-level2"
                        placeholder="{{ 'customer.addresses.city' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressCountry_{{ form.id }}">
                        {{ 'customer.addresses.country' | t }}
                      </label>
                      <div class="select">
                        <select
                          id="AddressCountry_{{ form.id }}"
                          name="address[country]"
                          data-address-country-select
                          data-default="{{ form.country }}"
                          data-form-id="{{ form.id }}"
                          autocomplete="country"
                        >
                          {{ all_country_option_tags }}
                        </select>
                        {%- comment -%}
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <use href="#icon-caret" />
                          </svg>
                        {%- endcomment -%}
                      </div>
                    </div>
                    <div class="field" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                      <label for="AddressProvince_{{ form.id }}">
                        {{ 'customer.addresses.province' | t }}
                      </label>
                      <div class="select">
                        <select
                          id="AddressProvince_{{ form.id }}"
                          name="address[province]"
                          data-default="{{ form.province }}"
                          autocomplete="address-level1"
                        ></select>
                        {%- comment -%}
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <use href="#icon-caret" />
                          </svg>
                        {%- endcomment -%}
                      </div>
                    </div>
                    <div class="field">
                      <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                      <input
                        type="text"
                        id="AddressZip_{{ form.id }}"
                        name="address[zip]"
                        value="{{ form.zip }}"
                        autocapitalize="characters"
                        autocomplete="postal-code"
                        placeholder="{{ 'customer.addresses.zip' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                      <input
                        type="tel"
                        id="AddressPhone_{{ form.id }}"
                        name="address[phone]"
                        value="{{ form.phone }}"
                        autocomplete="tel"
                        placeholder="{{ 'customer.addresses.phone' | t }}"
                      >
                    </div>
                    <div class="field">
                      <label for="address_default_address_{{ form.id }}">
                        {{ 'customer.addresses.set_default' | t }}
                      </label>
                      <span class="unset-input">
                        {{ form.set_as_default_checkbox }}
                      </span>
                    </div>
                    <div>
                      <button class="customer__btn tp-btn tp-btn__secondary">
                        {{ 'customer.addresses.update' | t }}
                      </button>
                      <button class="customer__btn tp-btn tp-btn__secondary" type="reset">
                        {{ 'customer.addresses.cancel' | t }}
                      </button>
                    </div>
                  {%- endform -%}
                </div>
              </li>
            {%- endfor -%}
          </ul>
          {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                  {%- if paginate.previous -%}
                    <li>
                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}

                  {%- for part in paginate.parts -%}
                    <li>
                      {%- if part.is_link -%}
                        <a
                          href="{{ part.url }}"
                          aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                        >
                          {{- part.title -}}
                        </a>
                      {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                          <span
                            aria-current="page"
                            aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                          >
                            {{- part.title -}}
                          </span>
                        {%- else -%}
                          <span>{{ part.title }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}

                  {%- if paginate.next -%}
                    <li>
                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              </nav>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endpaginate -%}

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  };
</script>
