<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}" style="height: 100%; width: 100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&display=swap"
      rel="stylesheet"
    >
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {{ 'password.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="password gradient">
    {% section 'main-password-header' %}
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <script>
      const password_header = document.querySelector('.password-header');
      if (password_header) {
        const modal__close_button = password_header.querySelector('.modal__close-button');
        const password_modal = password_header.querySelector('.password-modal');
        modal__close_button.addEventListener('click', function () {
          password_modal.removeAttribute('open');
        });
      }
    </script>
  </body>
</html>
