{% liquid
  assign BorderWidth = section.settings.border_width 
%}

{%- if section.settings.type_border == 'border_type1' -%}
  <div class=" tp-section-border__main tp-section-border__main-{{ section.id }} {{ BorderWidth }}"></div>
{%- else -%}
  <div class="border-type1 border-type1-{{ section.id }} {{ BorderWidth }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="1914" height="8" viewBox="0 0 1914 8" fill="none">
      <path d="M0 1C5.2347 1 5.2347 7 10.4694 7C15.7041 7 15.7198 1 20.9231 1C26.1263 1 26.1578 7 31.4396 7C36.7215 7 36.6743 1 41.909 1C47.1437 1 47.1594 7 52.3312 7C57.5031 7 57.5659 1 62.8792 1C68.1925 1 68.1139 7 73.3486 7C78.5833 7 78.599 1 83.7551 1M166.63 1C171.865 1 171.865 7 177.099 7C182.334 7 182.35 1 187.553 1C192.756 1 192.788 7 198.07 7C203.351 7 203.304 1 208.539 1C213.774 1 213.789 7 218.961 7C224.133 7 224.196 1 229.509 1C234.823 1 234.744 7 239.979 7C245.213 7 245.229 1 250.385 1M83.315 1C88.5497 1 88.5497 7 93.7844 7C99.0191 7 99.0348 1 104.238 1C109.441 1 109.473 7 114.755 7C120.036 7 119.989 1 125.224 1C130.459 1 130.474 7 135.646 7C140.818 7 140.881 1 146.194 1C151.508 1 151.429 7 156.664 7C161.898 7 161.914 1 167.07 1M249.945 1C255.18 1 255.18 7 260.414 7C265.649 7 265.665 1 270.868 1C276.071 1 276.103 7 281.385 7C286.666 7 286.619 1 291.854 1C297.089 1 297.104 7 302.276 7C307.448 7 307.511 1 312.824 1C318.138 1 318.059 7 323.294 7C328.528 7 328.544 1 333.7 1M333.26 1C338.495 1 338.495 7 343.729 7C348.964 7 348.98 1 354.183 1C359.386 1 359.418 7 364.7 7C369.981 7 369.934 1 375.169 1C380.404 1 380.419 7 385.591 7C390.763 7 390.826 1 396.139 1C401.452 1 401.374 7 406.609 7C411.843 7 411.859 1 417.015 1M499.89 1C505.125 1 505.125 7 510.359 7C515.594 7 515.61 1 520.813 1C526.016 1 526.048 7 531.33 7C536.611 7 536.564 1 541.799 1C547.034 1 547.049 7 552.221 7C557.393 7 557.456 1 562.769 1C568.082 1 568.004 7 573.239 7C578.473 7 578.489 1 583.645 1M416.575 1C421.81 1 421.81 7 427.044 7C432.279 7 432.295 1 437.498 1C442.701 1 442.733 7 448.015 7C453.296 7 453.249 1 458.484 1C463.719 1 463.734 7 468.906 7C474.078 7 474.141 1 479.454 1C484.767 1 484.689 7 489.924 7C495.158 7 495.174 1 500.33 1M583.205 1C588.44 1 588.44 7 593.674 7C598.909 7 598.925 1 604.128 1C609.331 1 609.363 7 614.645 7C619.926 7 619.879 1 625.114 1C630.349 1 630.364 7 635.536 7C640.708 7 640.771 1 646.084 1C651.397 1 651.319 7 656.554 7C661.788 7 661.804 1 666.96 1M666.52 1C671.755 1 671.755 7 676.989 7C682.224 7 682.24 1 687.443 1C692.646 1 692.678 7 697.96 7C703.241 7 703.194 1 708.429 1C713.664 1 713.679 7 718.851 7C724.023 7 724.086 1 729.399 1C734.712 1 734.634 7 739.869 7C745.103 7 745.119 1 750.275 1M833.15 1C838.385 1 838.385 7 843.619 7C848.854 7 848.87 1 854.073 1C859.276 1 859.308 7 864.59 7C869.871 7 869.824 1 875.059 1C880.294 1 880.309 7 885.481 7C890.653 7 890.716 1 896.029 1C901.342 1 901.264 7 906.499 7C911.733 7 911.749 1 916.905 1M749.835 1C755.07 1 755.07 7 760.304 7C765.539 7 765.555 1 770.758 1C775.961 1 775.993 7 781.275 7C786.556 7 786.509 1 791.744 1C796.979 1 796.994 7 802.166 7C807.338 7 807.401 1 812.714 1C818.027 1 817.949 7 823.184 7C828.418 7 828.434 1 833.59 1M916.465 1C921.7 1 921.7 7 926.934 7C932.169 7 932.185 1 937.388 1C942.591 1 942.623 7 947.905 7C953.186 7 953.139 1 958.374 1C963.609 1 963.624 7 968.796 7C973.968 7 974.031 1 979.344 1C984.657 1 984.579 7 989.814 7C995.048 7 995.064 1 1000.22 1M999.78 1C1005.01 1 1005.01 7 1010.25 7C1015.48 7 1015.5 1 1020.7 1C1025.91 1 1025.94 7 1031.22 7C1036.5 7 1036.45 1 1041.69 1C1046.92 1 1046.94 7 1052.11 7C1057.28 7 1057.35 1 1062.66 1C1067.97 1 1067.89 7 1073.13 7C1078.36 7 1078.38 1 1083.54 1M1166.41 1C1171.64 1 1171.64 7 1176.88 7C1182.11 7 1182.13 1 1187.33 1C1192.54 1 1192.57 7 1197.85 7C1203.13 7 1203.08 1 1208.32 1C1213.55 1 1213.57 7 1218.74 7C1223.91 7 1223.98 1 1229.29 1C1234.6 1 1234.52 7 1239.76 7C1244.99 7 1245.01 1 1250.17 1M1083.09 1C1088.33 1 1088.33 7 1093.56 7C1098.8 7 1098.81 1 1104.02 1C1109.22 1 1109.25 7 1114.53 7C1119.82 7 1119.77 1 1125 1C1130.24 1 1130.25 7 1135.43 7C1140.6 7 1140.66 1 1145.97 1C1151.29 1 1151.21 7 1156.44 7C1161.68 7 1161.69 1 1166.85 1M1249.72 1C1254.96 1 1254.96 7 1260.19 7C1265.43 7 1265.44 1 1270.65 1C1275.85 1 1275.88 7 1281.16 7C1286.45 7 1286.4 1 1291.63 1C1296.87 1 1296.88 7 1302.06 7C1307.23 7 1307.29 1 1312.6 1C1317.92 1 1317.84 7 1323.07 7C1328.31 7 1328.32 1 1333.48 1M1333.04 1C1338.27 1 1338.27 7 1343.51 7C1348.74 7 1348.76 1 1353.96 1C1359.17 1 1359.2 7 1364.48 7C1369.76 7 1369.71 1 1374.95 1C1380.18 1 1380.2 7 1385.37 7C1390.54 7 1390.61 1 1395.92 1C1401.23 1 1401.15 7 1406.39 7C1411.62 7 1411.64 1 1416.8 1M1499.67 1C1504.9 1 1504.9 7 1510.14 7C1515.37 7 1515.39 1 1520.59 1C1525.8 1 1525.83 7 1531.11 7C1536.39 7 1536.34 1 1541.58 1C1546.81 1 1546.83 7 1552 7C1557.17 7 1557.24 1 1562.55 1C1567.86 1 1567.78 7 1573.02 7C1578.25 7 1578.27 1 1583.43 1M1416.35 1C1421.59 1 1421.59 7 1426.82 7C1432.06 7 1432.07 1 1437.28 1C1442.48 1 1442.51 7 1447.79 7C1453.08 7 1453.03 1 1458.26 1C1463.5 1 1463.51 7 1468.69 7C1473.86 7 1473.92 1 1479.23 1C1484.55 1 1484.47 7 1489.7 7C1494.94 7 1494.95 1 1500.11 1M1582.98 1C1588.22 1 1588.22 7 1593.45 7C1598.69 7 1598.7 1 1603.91 1C1609.11 1 1609.14 7 1614.42 7C1619.71 7 1619.66 1 1624.89 1C1630.13 1 1630.14 7 1635.32 7C1640.49 7 1640.55 1 1645.86 1C1651.18 1 1651.1 7 1656.33 7C1661.57 7 1661.58 1 1666.74 1M1666.3 1C1671.53 1 1671.53 7 1676.77 7C1682 7 1682.02 1 1687.22 1C1692.43 1 1692.46 7 1697.74 7C1703.02 7 1702.97 1 1708.21 1C1713.44 1 1713.46 7 1718.63 7C1723.8 7 1723.87 1 1729.18 1C1734.49 1 1734.41 7 1739.65 7C1744.88 7 1744.9 1 1750.06 1M1832.93 1C1838.16 1 1838.16 7 1843.4 7C1848.63 7 1848.65 1 1853.85 1C1859.06 1 1859.09 7 1864.37 7C1869.65 7 1869.6 1 1874.84 1C1880.07 1 1880.09 7 1885.26 7C1890.43 7 1890.5 1 1895.81 1C1901.12 1 1901.04 7 1906.28 7C1911.51 7 1911.53 1 1916.68 1M1749.61 1C1754.85 1 1754.85 7 1760.08 7C1765.32 7 1765.33 1 1770.54 1C1775.74 1 1775.77 7 1781.05 7C1786.34 7 1786.29 1 1791.52 1C1796.76 1 1796.77 7 1801.95 7C1807.12 7 1807.18 1 1812.49 1C1817.81 1 1817.73 7 1822.96 7C1828.2 7 1828.21 1 1833.37 1M1916.24 1C1921.48 1 1921.48 7 1926.71 7C1931.95 7 1931.96 1 1937.17 1C1942.37 1 1942.4 7 1947.68 7C1952.97 7 1952.92 1 1958.15 1C1963.39 1 1963.4 7 1968.58 7C1973.75 7 1973.81 1 1979.12 1C1984.44 1 1984.36 7 1989.59 7C1994.83 7 1994.84 1 2000 1" stroke="#EDEDED" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
{%- endif -%}

{% style %}

.tp-section-border__main-{{ section.id }}{
  background: {{ section.settings.color_border }};
  height: {{ section.settings.height_border }}px
}

.border-type1-{{ section.id }} svg path {
  stroke: {{ section.settings.color_border }};

}

{% endstyle %}

{% render 'margin-bottom' %}
{% schema %}
{
  "name":"Border",
  "tag":"section",
  "class":"tp-section-border",
  "settings":[
    {
      "type": "select",
      "id": "type_border",
      "options": [
              {
                  "value": "border_type1",
                  "label": "Border type 1"
              }, {
                  "value": "border_type2",
                  "label": "Border type 2"
              }
          ],
      "default": "border_type1",
      "label": "Choose type"
    },
    {
      "type":"select",
      "id":"border_width",
      "label":"Border width",
      "options":[
      {
        "value":"container",
        "label":"Container"
      },
      {
        "value":"full_width",
        "label":"Full width"
      }
      ],
      "default":"container"
    },
    {
      "type":"color",
      "id":"color_border",
      "label":"Color border",
      "default":"#E5E5E5 "
    },
    {
      "type":"range",
      "label":"Height border",
      "id":"height_border",
      "default":1,
      "min":1,
      "max":10,
      "unit":"px"
    }, {
      "type": "header",
      "content": "t:sections.margin_bottom.content"
  },
  {
         "type": "paragraph",
         "content": "Unit: pixel"
        },
  {
      "type": "number",
      "id": "margin_bottom_desktop",
      "label": "t:sections.margin_bottom.desktop.label",
      "default": 80
  }, {
      "type": "number",
      "id": "margin_bottom_table",
      "label": "t:sections.margin_bottom.tablet.label",
      "default": 60
  }, {
      "type": "number",
      "id": "margin_bottom_mobile",
      "label": "t:sections.margin_bottom.mobile.label",
      "default": 40
  }
  ],
  "presets":[
    {
    "name":"Border",
    "category":"Custom content"
    }
  ]
}
{% endschema %}