{% liquid
  assign ImageLogo = section.settings.image_logo
  assign WidthLayout = section.settings.width_layout_ft
  assign color_social = section.settings.color_social
%}

{% style %}
  {% for block in section.blocks %}
      .footer__item-{{ section.id }}-{{ forloop.index }}{
      width: {{ block.settings.item_width }}%
      }
      .footer__item-{{ section.id }}-{{ forloop.index }}{
      width: {{ block.settings.item_width_no_link }}%
      }
      .contact-email__text {
      color: {{ block.settings.color_email }};
      font-size: {{ block.settings.font-size-email }}px;

      }

      .number-contact a {
      color: {{ section.settings.color_phone }};
      font-size: {{ block.settings.font-size-phone }}px;
      }

      .newsletter-form__button-{{ forloop.index }}{
        background: {{ block.settings.color_bg_button }};
        color: {{ block.settings.color_text_button }}
      }

      {% if block.settings.position_content == 'content-left' %}
        .footer__contact .footer__list-social{
          justify-content:flex-start
        }
      {% endif %}

      {% if block.settings.position_content == 'content-center' %}
        .footer__contact{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center
        }
        .footer__top .footer__logo{
          max-width:300px
        }
      {% endif %}

  {% endfor %}
  {% if section.settings.border_footer %}
    .footer__top{
      border: 1px solid var(--color-border);
      padding: 50px 30px;
    }
    .footer__bottom{
      border-top:none;
    }
  {% endif %}
      #shopify-section-{{ section.id }} {
      background: {{ section.settings.color_background }}}

      .footer__heading,
      .contact-phone p {
      color: {{ section.settings.heading_color }}
      }
      .footer__heading path{
        stroke: {{ section.settings.heading_color }};
      }
      .color-subtext p,
      .color-subtext a,
      .newsletter-subtext p {
      color: {{ section.settings.subtext_color }}
      }
      .footer__top ul li a:hover{
        color: {{ section.settings.color_hover_item_menu }}
      }

      .footer__copyright span {
      color: {{ section.settings.color_content_copyright }}
      }

      {% if section.settings.show_social == false or section.settings.payment_enable == false %}
        .footer__bottom{
          justify-content: space-between
        }
        .footer__bottom .footer__payment ul{
          justify-content: flex-end
        }

      {% endif %}
{% endstyle %}
<section class="tp-footer">
  <footer class="footer {{ WidthLayout }}">
    <div class="footer__top flex">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'contact' %}
            <div class="footer__col footer__contact footer__item-{{ section.id }}-{{ forloop.index }}">
              <div class="footer__logo mb-7.5">
                {% if ImageLogo != blank %}
                  <img
                    class="full-img"
                    src="{{ ImageLogo | image_url: width: ImageLogo.width, height: ImageLogo.height }}"
                    alt="slider background image"
                    width="{{ ImageLogo.width }}"
                    height="{{ ImageLogo.height }}"
                    loading="lazy"
                  >
                {% else %}
                  <h3 class="footer__title footer__heading">
                    <span>{{ block.settings.title_contact }}</span>
                  </h3>
                {% endif %}
              </div>
              {% if block.settings.subtext != blank %}
                <div class="footer-details-content color-subtext mb-2.5">
                  <div class="footer-details-content-item">
                    {{ block.settings.subtext }}
                  </div>
                </div>
              {% endif %}
              {% if block.settings.phone != blank or block.settings.phone_2 != blank %}
                <div class="footer-contact flex-wrap d-flex align-items-center mb-7.5">
                  {% if block.settings.phone != blank %}
                    <div class="contact-phone flex items-center mr-2.5 mb-4">
                      <span class="contact-text number-contact-{{ section.id }}">
                        <a style="color:#000000;" href="tel:{{ block.settings.phone }}">{{ block.settings.phone }}</a>
                      </span>
                    </div>
                  {% endif %}
                  {% if block.settings.phone_2 != blank %}
                    <div class="contact-email flex items-center mb-4">
                      <span class="contact-text">
                        <a
                          href="tel:{{ block.settings.phone_2 }}"
                          target="_blank"
                          class="contact-email__text-{{ section.id }}"
                        >
                          {{- block.settings.phone_2 -}}
                        </a>
                      </span>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% if block.settings.address != blank %}
                <p class="footer-address color-general">
                  <span></span>
                  {{ block.settings.address }}
                </p>
              {% endif %}
              {% if block.settings.show_social != blank %}
                <ul class="footer__list-social flex items-center justify-content-between">
                  {%- if settings.social_pinterest_link != blank -%}
                    <li class="mb-0 mr-4 ">
                      <a
                        href="{{ settings.social_pinterest_link }}"
                        class="link link--text list-social__link"
                        title="{{ 'general.social.links.pinterest' | t }}"
                      >
                        {% render 'icon', icon_name: 'icon-pinterest' %}
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_instagram_link != blank -%}
                    <li class="mb-0 mr-4">
                      <a
                        href="{{ settings.social_instagram_link }}"
                        class="link link--text list-social__link"
                        title="{{ 'general.social.links.instagram' | t }}"
                      >
                        {% render 'icon', icon_name: 'icon-instagam' %}
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_facebook_link != blank -%}
                    <li class="mb-0 mr-4">
                      <a
                        href="{{ settings.social_facebook_link }}"
                        class="link link--text list-social__link"
                        title="{{ 'general.social.links.facebook' | t }}"
                      >
                        {% render 'icon', icon_name: 'icon-facebook' %}
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if settings.social_twitter_link != blank -%}
                    <li class="mb-0 mr-4">
                      <a
                        href="{{ settings.social_twitter_link }}"
                        class="link link--text list-social__link"
                        title="{{ 'general.social.links.twitter' | t }}"
                      >
                        {% render 'icon', icon_name: 'icon-twitter' %}
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              {% endif %}
            </div>
          {% when 'text_content' %}
            <div class="footer__col footer__menu footer__menu footer__item-{{ section.id }}-{{ forloop.index }}">
              {%- if block.settings.heading != blank -%}
                <h3 class="footer__title footer__heading mb-6.5 flex items-center justify-between">
                  <span>{{ block.settings.heading }}</span>
                  {% render 'icon', icon_name: 'icon-drop-down-2', width: 8, height: 8 %}
                </h3>
              {%- endif -%}
              <div class="footer__text-content sub-menu-footer">
                <div class="text-content">{{ block.settings.text_content }}</div>
              </div>
            </div>


            {% when 'text_content_no_link' %}
            <div class="footer__col footer__menu footer__menu footer__item-{{ section.id }}-{{ forloop.index }}">
              {%- if block.settings.heading_no_link != blank -%}
                <h3 class="footer__title footer__heading mb-6.5 flex items-center justify-between">
                  <span>{{ block.settings.heading_no_link }}</span>
                  {% render 'icon', icon_name: 'icon-drop-down-2', width: 8, height: 8 %}
                </h3>
              {%- endif -%}
              <div class="footer__text-content sub-menu-footer">
                <div class="menu-item color-subtext text-gray">{{ block.settings.content_no_link }}</div>
              </div>
            </div>


          {% when 'link_list' %}
            <div class="footer__col footer__menu footer__menu footer__item-{{ section.id }}-{{ forloop.index }}">
              {%- if block.settings.heading != blank -%}
                <h3 class="footer__title footer__heading mb-6.5 flex items-center justify-between">
                  <span>{{ block.settings.heading }}</span>
                  {% render 'icon', icon_name: 'icon-drop-down-2', width: 8, height: 8 %}
                </h3>
              {%- endif -%}
              {%- if block.settings.menu != blank -%}
                <ul class="footer__menu sub-menu-footer">
                  {%- for link in block.settings.menu.links -%}
                    <li class="menu-item color-subtext mb-4">
                      <a href="{{ link.url }}" class="ease-in duration-500">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {% else %}
                <ul class="footer__menu sub-menu-footer">
                  <li class="menu-item color-subtext mb-2.5">
                    <a href="#" class="ease-in duration-500"> Item menu </a>
                  </li>
                  <li class="menu-item color-subtext mb-2.5">
                    <a href="#" class="ease-in duration-500"> Item menu </a>
                  </li>
                  <li class="menu-item color-subtext mb-2.5">
                    <a href="#" class="ease-in duration-500"> Item menu </a>
                  </li>
                  <li class="menu-item color-subtext mb-2.5">
                    <a href="#" class="ease-in duration-500"> Item menu </a>
                  </li>
                  <li class="menu-item color-subtext mb-2.5">
                    <a href="#" class="ease-in duration-500"> Item menu </a>
                  </li>
                </ul>
              {%- endif -%}
            </div>
          {% when 'newsletter_ft' %}
            <div class="footer__col footer__menu footer__menu footer__item-{{ section.id }}-{{ forloop.index }}">
              {%- if block.settings.heading != blank -%}
                <h3 class="footer__title footer__heading mb-7.5 flex items-center justify-between">
                  <span>{{ block.settings.heading }}</span>
                  {% render 'icon', icon_name: 'icon-drop-down-2', width: 8, height: 8 %}
                </h3>
              {%- endif -%}

              <div class="footer__menu sub-menu-footer">
                {%- if block.settings.newsletter_brief != blank -%}
                  <div class="footer-details-content color-subtext newsletter-subtext mb-7.5">
                    <div class="footer-details-content-item">
                      {{ block.settings.newsletter_brief }}
                    </div>
                  </div>
                {%- endif -%}
                <div class="newsletter-form-ft">
                  <div class="newsletter__email" {{ block.shopify_attributes }}>
                    {% form 'customer', class: 'newsletter-form' %}
                      <input name="contact[tags]" type="hidden" value="newsletter">
                      <div class="newsletter-form__field-wrapper">
                        <div class="field relative">
                          <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="field__input"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                              autofocus aria-invalid="true" aria-describedby="Newsletter-error--{{ section.id }}"
                            {% elsif form.posted_successfully? %}
                              aria-describedby="Newsletter-success--{{ section.id }}"
                            {% endif %}
                            placeholder="{{ 'newsletter.label' | t }}"
                            required
                          >
                          {%- if form.posted_successfully? -%}
                            <h3
                              autofocus
                              class="newsletter-form__message newsletter-form__message--success form__message"
                              id="Newsletter-success--{{ section.id }}"
                              tabindex="-1"
                            >
                              {% render 'icon', icon_name: 'icon-success' -%}
                              {{- 'newsletter.success' | t }}
                            </h3>
                          {%- endif -%}
                          {%- if form.errors -%}
                            <small
                              class="newsletter-form__message form__message"
                              id="Newsletter-error--{{ section.id }}"
                            >
                              {%- render 'icon', icon_name: 'icon-error' -%}
                              {{- form.errors.translated_fields.email | capitalize }}
                              {{ form.errors.messages.email -}}
                            </small>
                          {%- endif -%}
                          <button
                            type="submit"
                            class="newsletter-form__button newsletter-form__button-{{ forloop.index }} field__button"
                            name="commit"
                            id="Subscribe"
                            aria-label="{{ 'newsletter.button_newsletter_ft' | t }}"
                          >
                            {% render 'icon', icon_name: 'telegram' %}
                          </button>
                        </div>
                      </div>
                    {% endform %}
                  </div>
                </div>
                {% if block.settings.show_social_newsletter %}
                  <div class="newsletter-social flex">
                    <span class="mr-2.5 social-label">{{ 'newsletter.label_social' | t }}:</span>
                    {% render 'social', color_social: '#777777' %}
                  </div>
                {% endif %}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    <div class="footer__bottom flex items-center justify-between py-7.5">
      {% if section.settings.content_copyright != blank %}
        <div class="footer__copyright">
          <span
            >©
            {{ section.settings.content_copyright }}
          </span>
        </div>
      {% endif %}
      {% if section.settings.payment_enable != blank %}
        <div class="footer__payment">
          <ul class="flex flex-wrap">
            {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {% endif %}
    </div>
  </footer>
  {%- if settings.show_back_to_top -%}
    <button class="back-to-top" id="backToTop" title="Go to top">
      {% render 'icon', icon_name: 'icon-back-to-top' %}
    </button>
  {%- endif -%}
</section>
<style>
  body p {
    color: #000;
}
</style>
{% javascript %}
  const titleFooter = document.querySelectorAll('.footer__title');

  if (titleFooter.length > 0) {
    titleFooter.forEach(function (item) {
      item.addEventListener('click', function () {
        // change svg
        if (this.querySelector('svg').classList.contains('rotate-svg')) {
          this.querySelector('svg').classList.remove('rotate-svg');
        } else {
          this.querySelector('svg').classList.add('rotate-svg');
        }
        // open close content
        let subMenuFooter = item.parentNode.querySelector('.sub-menu-footer');
        if (subMenuFooter.style.maxHeight) {
          subMenuFooter.style.maxHeight = null;
          subMenuFooter.style.marginBottom = '0';
          subMenuFooter.style.borderTop = 'none';
        } else {
          subMenuFooter.style.maxHeight = subMenuFooter.scrollHeight + 'px';
          subMenuFooter.style.marginBottom = '15px';
          subMenuFooter.style.borderTop = '1px solid #eaeaea';
        }
      });
    });
  }
{% endjavascript %}
{% render 'margin-bottom' %}
{% render 'padding', position: 'top' %}
{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "newsletter_ft",
      "name": "Newsletter",
      "settings": [
        {
          "type": "range",
          "id": "item_width",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "width item",
          "default": 25
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Newsletter",
          "label": "Heading",
          "info": "Heading required to display the menu"
        },
        {
          "type": "richtext",
          "id": "newsletter_brief",
          "default": "<p>Sign up and get yourself a discount on a refurbished phone today!</p>",
          "label": "Newsletter brief"
        },
        {
          "type": "color",
          "id": "color_bg_button",
          "label": "Color background button",
          "default": "#2e2e2e"
        },
        {
          "type": "checkbox",
          "id": "show_social_newsletter",
          "label": "Show social",
          "default": true
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "range",
          "id": "item_width",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.footer.blocks.link_list.settings.item_width.label",
          "default": 25
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "main-menu",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "contact",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "range",
          "id": "item_width",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.footer.blocks.text.settings.item_width.label",
          "default": 25
        },
        {
          "type": "text",
          "id": "title_contact",
          "label": "Title contact",
          "default": "Contact Info",
          "info": "If the logo footer to blank, a text title will be used"
        },
        {
          "type": "select",
          "id": "position_content",
          "label": "Position content",
          "options": [
            {
              "value": "content-left",
              "label": "Left"
            },
            {
              "value": "content-center",
              "label": "Center"
            }
          ],
          "default": "content-left"
        },
        {
          "type": "textarea",
          "id": "subtext",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "t:sections.footer.blocks.text.settings.phone.label",
          "default": "(800) 8001-8588"
        },
        {
          "type": "range",
          "id": "font-size-phone",
          "min": 10,
          "max": 36,
          "step": 1,
          "unit": "px",
          "label": "Font size phone",
          "default": 16
        },
        {
          "type": "text",
          "id": "phone_2",
          "label": "Phone 2",
          "default": "(0600) 874 548"
        },
        {
          "type": "color",
          "id": "color_email",
          "label": "t:sections.footer.blocks.text.settings.email.color",
          "default": "#909090"
        },
        {
          "type": "range",
          "id": "font-size-email",
          "min": 10,
          "max": 36,
          "step": 1,
          "unit": "px",
          "label": "Font size email",
          "default": 16
        },
        {
          "type": "text",
          "id": "address",
          "label": "Address",
          "default": "17 Princess Road, London, Greater London NW1 8JR, UK"
        },
        {
          "type": "color",
          "id": "color_address",
          "label": "Color address",
          "default": "#909090"
        },
        {
          "type": "range",
          "id": "font-size-address",
          "min": 10,
          "max": 36,
          "step": 1,
          "unit": "px",
          "label": "Font size address",
          "default": 16
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": false,
          "label": "t:sections.footer.settings.show_social.label"
        }
      ]
    },
    {
      "name": "Text without link",
      "type": "text_content_no_link",
      "settings": [
        {
          "type": "range",
          "id": "item_width_no_link",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.footer.blocks.text.settings.item_width.label",
          "default": 25
        },
        {
          "type": "text",
          "id": "heading_no_link",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "content_no_link",
          "label": "Content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "width_layout_ft",
      "label": "Width layout",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "sm-container",
          "label": "Small container"
        },
        {
          "value": "lg-container",
          "label": "Large container"
        },
        {
          "value": "width-full",
          "label": "Width full"
        }
      ],
      "default": "container"
    },
    {
      "type": "checkbox",
      "id": "border_footer",
      "label": "Border footer",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image_logo",
      "label": "t:sections.footer.settings.image_logo.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.footer.settings.background.label",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.footer.settings.heading_color.label",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "subtext_color",
      "label": "t:sections.footer.settings.subtext_color.label",
      "default": "#909090"
    },
    {
      "type": "color",
      "id": "color_social",
      "label": "t:sections.footer.settings.color_social.label",
      "default": "#bebebe"
    },
    {
      "type": "color",
      "id": "color_hover_item_menu",
      "label": "Color hover item menu",
      "default": "#f5583e"
    },
    {
      "type": "color",
      "id": "color_phone",
      "label": "t:sections.footer.blocks.text.settings.phone.color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.coppy_right.content"
    },
    {
      "type": "textarea",
      "id": "content_copyright",
      "label": "t:sections.footer.settings.coppy_right.main.text",
      "default": "Copyright by Storepify"
    },
    {
      "type": "color",
      "id": "color_content_copyright",
      "label": "t:sections.footer.settings.coppy_right.main.color",
      "default": "#909090"
    },
    {
      "type": "header",
      "content": "t:sections.margin_bottom.content"
    },
    {
      "type": "paragraph",
      "content": "Unit: pixel"
    },
    {
      "type": "number",
      "id": "margin_bottom_desktop",
      "label": "t:sections.margin_bottom.desktop.label",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_table",
      "label": "t:sections.margin_bottom.tablet.label",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_mobile",
      "label": "t:sections.margin_bottom.mobile.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding Top"
    },
    {
      "type": "paragraph",
      "content": "Unit: pixel"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_top_table",
      "label": "Padding top tablet",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "default": 0
    }
  ]
}
{% endschema %}
