{{ 'custom.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .gap-collection{
    margin: 0 -{{ settings.gap_item_collection | divided_by: 2 }}px;
  }
  .gap-collection .grid__item{
    padding: 0 {{ settings.gap_item_collection | divided_by: 2 }}px
  }

  {% if settings.border_item and settings.gap_item_collection == 0 %}
    .gap-collection .grid__item{
      margin-left: -1px
    }
  {% endif %}
{%- endstyle -%}

{% liquid
  assign st = section.settings
  assign WidthLayout = section.settings.width_layout
  assign filterType = section.settings.filter_type
  if filterType == 'vertical'
    assign classFilterType = 'facets-vertical'
  elsif filterType == 'vertical-right'
    assign classFilterType = 'facets-vertical flex-row-reverse'
  elsif filterType == 'horizontal'
    assign classFilterType = 'facets-horizontal'
  elsif filterType == 'drawer-left' or filterType == 'drawer-right'
    assign classFilterType = 'facets-vertical--drawer'
  endif

  assign column_show = st.column_number

  assign sidebar_filter = st.enable_filtering
  assign sidebar_banner = st.show_sidebar_banner
  assign width_product_grid = 'w-75'

  if sidebar_banner and sidebar_filter
    assign width_product_grid = 'w-50'
  elsif filterType == 'drawer-left' or filterType == 'drawer-right'
    assign width_product_grid = 'w-full'
  endif
%}

<div class="section-{{ section.id }}-padding">
  <div class="{{ classFilterType }} {{ WidthLayout }} {% if sidebar_banner %}is-sidebar-banner{% endif %}">
    {% if filterType == 'vertical'
      or filterType == 'drawer-left'
      or filterType == 'drawer-right'
      or filterType == 'vertical-right'
    %}
      {% if sidebar_filter %}
        <aside
          data-type="{{ filterType }}"
          aria-labelledby="verticalTitle"
          class="facets-wrapper w-25{% if filterType == 'drawer-left' %} facets-drawer--left{% endif %}{% if filterType == 'drawer-right' %} facets-drawer--right{% endif %}{% if filterType == 'vertical-right' %} vertical-right--margin{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets',
            collections: section.settings.collection_list,
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            filter_type: section.settings.filter_type
          %}
          <span class="facets-head__close hidden">
            {% render 'icon', icon_name: 'icon-close' %}
          </span>
        </aside>
      {%- endif -%}
    {%- endif -%}

    <div
      class="{{ width_product_grid }} product-grid-container"
      id="ProductGridContainer"
    >
      <div class="product-grid__head{% if filterType == 'vertical' %} type-revert{% endif %} items-center mb-7.5">
        <div class="product-grid__head-left {% if filterType == 'horizontal' or filterType == 'drawer-left' or filterType == 'drawer-right' %} mb-7.5{% endif %}">
          <div class="facets-hori__sort flex">
            {% comment %}
              <facet-filters-form class="small-hide mr-7.5">
                <form id="FacetPagiForm">
                  {% if cart.attributes.collection_products_per_page != blank
                    and cart.attributes.collection_products_per_page
                  %}
                    {% assign product_per_page = cart.attributes.collection_products_per_page %}
                  {% else %}
                    {% assign product_per_page = section.settings.products_per_page %}
                  {% endif %}
                  <div class="facet-filters sorting caption">
                    <div class="facet-filters__field">
                      <button
                        type="button"
                        class="btn-select-filter-sort"
                        data-value="{{ product_per_page }}"
                      >
                        <span>
                          {% if product_per_page == section.settings.products_per_page %}
                            Default
                          {% else %}
                            {{ product_per_page }}
                          {% endif %}
                        </span>
                        {% render 'icon', icon_name: 'icon-drop-down' %}
                      </button>
                      <div
                        aria-describedby="a11y-refresh-page-message"
                        class="facet-filters__sort"
                        id="SortBy"
                        name="sort_by"
                      >
                        <input name="attributes[pagination]" type="hidden">
                        <span
                          value="{{ section.settings.products_per_page }}"
                          class="item-sort{% if product_per_page == section.settings.products_per_page %} is-selected{% endif %}"
                          >Default</span
                        >
                        <span class="item-sort {% if product_per_page == '24' %} is-selected{% endif %}" value="24"
                          >24</span
                        >
                        <span class="item-sort{% if product_per_page == '36' %} is-selected{% endif %}" value="36"
                          >36</span
                        >
                        <span class="item-sort{% if product_per_page == '42' %} is-selected{% endif %}" value="42"
                          >42</span
                        >
                      </div>
                    </div>
                  </div>
                </form>
              </facet-filters-form>
            {% endcomment %}
            <span class="collection-filter-title mr-3.75">{{ 'products.facets.sort_by_label' | t }}</span>
            <facet-filters-form class="small-hide mr-7.5">
              <form id="FacetSortForm">
                <div class="facet-filters sorting caption">
                  <div class="facet-filters__field">
                    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                    <button
                      type="button"
                      class="btn-select-filter-sort"
                      data-value="{{ sort_by }}"
                    >
                      <span>
                        {%- for option in collection.sort_options -%}
                          {% if option.value == sort_by %}
                            {% assign sortByActiveName = option.name %}
                            {% break %}
                          {% endif %}
                        {%- endfor -%}

                        {{ sortByActiveName }}
                      </span>
                      {% render 'icon', icon_name: 'icon-drop-down-2' %}
                    </button>

                    <div
                      aria-describedby="a11y-refresh-page-message"
                      class="facet-filters__sort"
                      id="SortBy"
                      name="sort_by"
                    >
                      <input
                        type="hidden"
                        name="sort_by"
                        value="{{ sort_by }}"
                      >

                      {%- for option in collection.sort_options -%}
                        <span
                          value="{{ option.value }}"
                          class="item-sort{% if option.value == sort_by %} is-selected{% endif %}"
                        >
                          {{- option.name | escape -}}
                        </span>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>

                {% if collection.current_vendor or collection.current_type %}
                  <input
                    type="hidden"
                    name="q"
                    value="{{ collection.current_vendor }}{{ collection.current_type }}"
                  >
                {% endif %}

                {%- if collection.terms -%}
                  <input
                    type="hidden"
                    name="q"
                    value="{{ collection.terms | escape }}"
                  >
                  <input
                    name="options[prefix]"
                    type="hidden"
                    value="last"
                  >
                {%- endif -%}
              </form>
            </facet-filters-form>
          </div>
          <div class="product-grid__head-right--filter-toggle">
            {% render 'icon', icon_name: 'icon-filter' %}
            <span class="collection-filter-title">Filter</span>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-sliders icon-filter-mobile hidden"
                viewBox="0 0 16 16"
              >
                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
              </svg>
            </span>
          </div>
        </div>
        {% if filterType == 'horizontal' %}
          <aside
            aria-labelledby="verticalTitle"
            data-type="{{ filterType }}"
            class="facets-wrapper"
            data-id="template--1484909 1141685__product-grid"
            id="main-collection-filters"
          >
            {% render 'facets',
              collections: section.settings.collection_list,
              results: collection,
              enable_filtering: section.settings.enable_filtering,
              filter_type: section.settings.filter_type
            %}
          </aside>
        {% endif %}
        <div class="product-grid__head-right flex items-center">
          <div class="product-count light medium-hide large-up-hide mr-5" role="status">
            <div class="font-normal">
              Show all
              <span id="ProductCount">
                {%- if collection.results_count -%}
                  {{ collection.results_count }}
                {%- else -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- endif -%}
              </span>
              results
            </div>
            <div class="loading-overlay__spinner" style="display: none;">
              {% render 'icon', icon_name: 'icon-loading-overlay' %}
            </div>
          </div>
          <div class="product-grid__head-type-list">
            {% if settings.column_number == '4' %}
              <ul>
                <li
                  class="{% if column_show == 4 or column_show == '4' %}active {% endif %}icon-type-list"
                  data-type="grid-4-col"
                >
                  <span flow="up" tooltip="Grid">
                    {% render 'icon', icon_name: 'icon-grid-4-col' %}
                  </span>
                </li>
                <li
                  class="{% if column_show == 1 or column_show == '1' %}active {% endif %}icon-type-list grid-1-col"
                  data-type="grid-1-col"
                >
                  <span flow="up" tooltip="List">
                    {% render 'icon', icon_name: 'icon-grid-1-col' %}
                  </span>
                </li>
              </ul>
            {% elsif settings.column_number == '3' %}
              <ul>
                <li
                  class="{% if column_show == 3 or column_show == '3' %}active {% endif %}icon-type-list"
                  data-type="grid-3-col"
                >
                  <span flow="up" tooltip="Grid">
                    {% render 'icon', icon_name: 'icon-grid-3-col' %}
                  </span>
                </li>
                <li
                  class="{% if column_show == 1 or column_show == '1' %}active {% endif %}icon-type-list grid-1-col"
                  data-type="grid-1-col"
                >
                  <span flow="up" tooltip="List">
                    {% render 'icon', icon_name: 'icon-grid-1-col' %}
                  </span>
                </li>
              </ul>
            {% elsif settings.column_number == '2' %}
              <ul>
                <li
                  class="{% if column_show == 2 or column_show == '2' %}active {% endif %}icon-type-list"
                  data-type="grid-2-col"
                >
                  <span flow="up" tooltip="Grid">
                    {% render 'icon', icon_name: 'icon-grid-2-col' %}
                  </span>
                </li>
                <li
                  class="{% if column_show == 1 or column_show == '1' %}active {% endif %}icon-type-list grid-1-col"
                  data-type="grid-1-col"
                >
                  <span flow="up" tooltip="List">
                    {% render 'icon', icon_name: 'icon-grid-1-col' %}
                  </span>
                </li>
              </ul>
            {% elsif settings.column_number == '1' %}
              <ul>
                <li
                  class="{% if column_show == 1 or column_show == '1' %}active {% endif %}icon-type-list grid-1-col"
                  data-type="grid-1-col"
                >
                  <span flow="up" tooltip="List">
                    {% render 'icon', icon_name: 'icon-grid-1-col' %}
                  </span>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>

      {% assign desc_pos = section.settings.display_position %}

      {% if section.settings.show_description and desc_pos == 'top' %}
        <div class="product-grid__desc mb-7.5 flex flex-col items-center{% if section.settings.is_collapse_description %} is-collapse{% endif %}">
          <div class="desc-content desc-content-collection mb-5 relative">
            {{ collection.description }}
            {% if section.settings.is_collapse_description %}
              <div class="gradient"></div>
            {% endif %}
          </div>

          {% if section.settings.is_collapse_description %}
            {% if section.settings.description_viewmore != blank %}
              <a
                class="btn-more underline-button pdp_view_description_button flex flex-row items-center justify-center"
                data-view="more"
              >
                {{ section.settings.description_viewmore }}
              </a>
            {% endif %}

            {% if section.settings.description_viewless != blank %}
              <a
                class="pdp_view_description_button underline-button flex flex-row items-center justify-center hidden"
                data-view="less"
              >
                {{ section.settings.description_viewless }}
              </a>
            {% endif %}

            <style>
              .product-grid__desc.is-collapse .desc-content {
                max-height: {{ section.settings.description_max_height }}px;
              }
            </style>
          {% endif %}
        </div>
      {% endif %}

      {% if filterType == 'horizontal' or filterType == 'vertical' or filterType == 'vertical-right' %}
        {%- for filter in collection.filters -%}
          {% assign activeCount = forloop.length %}
        {%- endfor -%}
        {% if activeCount > 0 %}
          <div class="active-facets active-facets-desktop">
            {%- for filter in collection.filters -%}
              {%- for value in filter.active_values -%}
                {% assign activeValueCount = forloop.length %}
                <facet-remove class="item-active btn-border-radius">
                  <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                    <span class="active-facets__button-inner button button--tertiary">
                      {{ filter.label }}:
                      {{ value.label | escape }}
                      {% render 'icon', icon_name: 'icon-clear-active-facets' %}
                    </span>
                  </a>
                </facet-remove>
              {%- endfor -%}
              {% if filter.type == 'price_range' %}
                {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                  <facet-remove class="item-active btn-border-radius">
                    <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                      <span class="active-facets__button-inner button button--tertiary">
                        {%- if filter.min_value.value -%}
                          {{ filter.min_value.value | money }}
                        {%- else -%}
                          {{ 0 | money }}
                        {%- endif -%}
                        -
                        {%- if filter.max_value.value -%}
                          {{ filter.max_value.value | money }}
                        {%- else -%}
                          {{ filter.range_max | money }}
                        {%- endif -%}
                        {% render 'icon', icon_name: 'icon-clear-active-facets' %}
                      </span>
                    </a>
                  </facet-remove>
                {%- endif -%}
              {% endif %}

              {% if filter.min_value.value != null or filter.max_value.value != null or activeValueCount > 0 %}
                {% assign showClearAll = true %}
              {% endif %}
            {%- endfor -%}

            {% if showClearAll %}
              <a href="{{ collection.url }}" class="clear-all">{{ 'sections.collection_template.clear_all' | t }}</a>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
      {%- paginate collection.products by product_per_page -%}
        {%- if collection.products.size == 0 -%}
          <div
            class="collection page-width"
            id="product-grid"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection gap-collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="product-grid grid-{{ column_show }}-col"
              {% if paginate.next.url != blank %}
                data-url="{{ paginate.next.url }}"
              {% endif %}
            >
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="grid__item">
                  {% render 'card-product',
                    card_product: product,
                    section: section,
                    layoutProductItem: section.settings.product_item_layout,
                    lazy_load: lazy_load,
                    collection_list: true
                  %}
                </li>
              {%- endfor -%}
            </ul>
            {% liquid
              assign paginationType = section.settings.pagination_type
              if paginationType == 'pagination'
                if paginate.pages > 1
                  render 'pagination', paginate: paginate, anchor: '', classPosition: ' pagination__list-center'
                endif
              else
                if paginate.next.url != blank
                  render 'button-loadmore', identificareId: 'loadmore-collection', typeLoadMore: section.settings.type_load_more
                endif
              endif
            %}
          </div>
        {%- endif -%}
      {%- endpaginate -%}

      {% if section.settings.show_description and desc_pos == 'bottom' %}
        <div class="product-grid__desc {% if desc_pos == "top" %}mb-7.5{% else %}mt-7.5{% endif %} flex flex-col items-center{% if section.settings.is_collapse_description %} is-collapse{% endif %}">
          <div class="desc-content desc-content-collection mb-5 relative">
            {{ collection.description }}
            {% if section.settings.is_collapse_description %}
              <div class="gradient"></div>
            {% endif %}
          </div>

          {% if section.settings.is_collapse_description %}
            {% if section.settings.description_viewmore != blank %}
              <a
                class="underline-button btn-more pdp_view_description_button flex flex-row items-center justify-center"
                data-view="more"
              >
                {{ section.settings.description_viewmore }}
              </a>
            {% endif %}

            {% if section.settings.description_viewless != blank %}
              <a
                class="underline-button pdp_view_description_button flex flex-row items-center justify-center hidden"
                data-view="less"
              >
                {{ section.settings.description_viewless }}
              </a>
            {% endif %}

            <style>
              .product-grid__desc.is-collapse .desc-content {
                max-height: {{ section.settings.description_max_height }}px;
              }
            </style>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if sidebar_banner %}
      <div class="sidebar-banner w-25">
        <div class="item-banner">
          {% assign imageBanner = section.settings.image_banner %}
          {% if imageBanner != blank %}
            {% render 'responsive-image', image: imageBanner %}
          {% else %}
            {% render 'no-image-banner', text_size: '' %}
          {% endif %}
        </div>
        <div class="collection-content mb-7.5">
          <div class="facet-title mb-5">
            <span class="facet-font-size-title">{{ section.settings.title_content }}</span>
          </div>
          <p>
            {{ section.settings.description_content }}
          </p>
        </div>
        {% render 'sidebar-product-slider', title: st.title_collection, product_list: st.product_list %}
      </div>
    {% endif %}
  </div>
</div>

{% if section.settings.enable_reverse_filter %}                  
<style>
.flex-row-reverse {
  flex-direction: initial!important;
}
</style>            
{% endif  %}  
  
{% schema %}
{
  "name": "Settings Collection",
  "class": "section collection-template",
  "settings": [
    {
      "type": "header",
      "content": "General "
    },
    {
      "type": "select",
      "id": "width_layout",
      "label": "Width layout",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "lg-container",
          "label": "Large container"
        },
        {
          "value": "width-full",
          "label": "Width full"
        }
      ],
      "default": "container"
    },
    {
      "type": "header",
      "content": "Product grid"
    },
    {
      "type": "select",
      "id": "column_number",
      "label": "Column number product",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 column"
        },
        {
          "value": "3",
          "label": "3 column"
        },
        {
          "value": "4",
          "label": "4 column"
        }
      ],
      "default": "4"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "fsize_scale",
      "min": 100,
      "max": 150,
      "step": 5,
      "unit": "%",
      "label": "Category font size scale",
      "default": 100
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "is_collapse_description",
      "label": "Is collapse description",
      "default": true
    },
    {
      "type": "select",
      "id": "display_position",
      "label": "Display position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "range",
      "id": "description_max_height",
      "min": 0,
      "max": 1000,
      "step": 50,
      "unit": "px",
      "label": "Description max height",
      "default": 100
    },
    {
      "type": "text",
      "id": "description_viewmore",
      "label": "Text view more",
      "default": "View More"
    },
    {
      "type": "text",
      "id": "description_viewless",
      "label": "Text view less",
      "default": "View Less"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "product_item_layout",
      "label": "Product item layout",
      "options": [
        {
          "value": "use_global",
          "label": "Use global"
        },
        {
          "value": "layout_1",
          "label": "Layout 1"
        },
        {
          "value": "layout_2",
          "label": "Layout 2"
        }
      ],
      "default": "use_global"
    },
    {
      "type": "select",
      "id": "item_direction_prd_top",
      "label": "Item direction",
      "options": [
        {
          "label": "Use global",
          "value": "use_global"
        },
        {
          "value": "item_column",
          "label": "Column"
        },
        {
          "value": "item_row",
          "label": "Row"
        }
      ],
      "default": "use_global"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_reverse_filter",
      "default": true,
      "label": "Override the original filters",
      "info": "Selecting this option will override the functions below and make the filters on the left fully functional. If you do NOT select you will still be able to use the functions below normally."
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "vertical-right",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__5.label"
        },
        {
          "value": "drawer-left",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        },
        {
          "value": "drawer-right",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__4.label"
        }
      ],
      "default": "vertical",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections side bar"
    },
    {
      "type": "select",
      "id": "price_type",
      "default": "slider",
      "label": "Price filter type",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "price_range",
          "label": "Price range"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "price_range_config",
      "label": "Price range configuration",
      "default": "10-30,30-50,50-100,100-300",
      "info": "Only for price type is price range"
    },
    {
      "type": "checkbox",
      "id": "enable_apply_button",
      "default": true,
      "label": "Enable apply price button",
      "info": "Only for price type is price slider"
    },
    {
      "type": "header",
      "content": "Pagination"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "options": [
        {
          "value": "pagination",
          "label": "Pagination"
        },
        {
          "value": "loadmore",
          "label": "Load More"
        }
      ],
      "default": "pagination",
      "label": "Pagination type",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "select",
      "id": "type_load_more",
      "options": [
        {
          "value": "click",
          "label": "Click"
        },
        {
          "value": "scroll",
          "label": "Scroll"
        }
      ],
      "default": "click",
      "label": "Load more type",
      "info": "Only support for pagination load more"
    },
    {
      "type": "header",
      "content": "Sidebar banner"
    },
    {
      "type": "checkbox",
      "id": "show_sidebar_banner",
      "label": "Show sidebar banner",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image_banner",
      "label": "Image banner"
    },
    {
      "type": "text",
      "id": "title_content",
      "label": "Title content",
      "default": "Content"
    },
    {
      "type": "textarea",
      "id": "description_content",
      "label": "Description content",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
    },
    {
      "type": "text",
      "id": "title_collection",
      "label": "Title collection",
      "default": "Featured collection"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product list"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
