<div class="tp-collection-list container">
  <h1 class="tp-collection-list__title">{{ section.settings.title | escape }}</h1>
  {%- liquid
    case section.settings.sort
      when 'products_high' or 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date' or 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif


  -%}
  <ul class="tp-collection-list__main flex items-start justify-start flex-wrap">
    {%- for collection in collections -%}
      <li class="tp-collection-list__item">
        <a  href="{{ collection.url }}" title="{{ collection.title }}">
          {%- if collection.image != blank -%}
            <div class="img__wrapper">
              <img src="{{ collection.featured_image | image_url: width: collection.featured_image.width, height: collection.featured_image.height }}" alt="{{ collection.featured_image.alt }}" width="{{ collection.featured_image.width }}" height="{{ collection.featured_image.height }}" loading="lazy">
            </div>
          {%- else -%}
            <div class="img__wrapper">
              {%- comment -%}
              {% render 'no-image', text_size:'No image', width:300, height:400 %}
              {%- endcomment -%}

              <div class="no-image" style="width : 100%; height: 400px">
                <span>No image</span>
              </div>
            </div>
          {% endif %}
          <div class="collections-content">
            <h3 class="collections-content__title hvr-line-left-to-right">
              {{ collection.title }}</h3>
            <div class="collections-content__number">
              {% if collection.all_products_count <= 9 %}
                0{{ collection.all_products_count }}
              {% else %}
                {{ collection.all_products_count }}
              {% endif %}
            </div>
          </div>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</div>
{% schema %}

{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    }, {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        }, {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        }, {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        }, {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        }, {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        }, {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    }
  ]
}

{% endschema %}
