<div class="tp-our-testimonial tp-our-testimonial-{{ section.id }}">
  <div class="tp-our-testimonial__bg tp-our-testimonial__layout-1">
    <div class="tp-our-testimonial__wrapper container">
      {% if section.settings.heading != blank or section.settings.show_pagination %}
        <div class="tp-our-testimonial__top d-flex align-items-center justify-content-between mb-12.5">
          {% if section.settings.heading != blank %}
            <h2 class="tp-section__title">{{ section.settings.heading }}</h2>
          {% endif %}
          <div class="tp-our-testimonial-nav flex items-center">
            <div class="tp-our-testimonial-prev navigation-item swiper-nav-prev swiper-nav-default__item">
              {% render 'icon', icon_name: 'icon-prev-type1', width: '8', height: '12' %}
            </div>
            <div class="tp-our-testimonial-next navigation-item swiper-nav-next swiper-nav-default__item">
              {% render 'icon', icon_name: 'icon-next-type1', width: '8', height: '12' %}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="tp-our-testimonial__border">
        <div class="tp-our-testimonial__main swiper" data-layout="{{ displayType }}">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class=" swiper-slide">
                <div class="tp-our-testimonial__item tp-our-testimonial__item-{{ forloop.index }} d-flex justify-content-start align-items-start">
                  {% assign imageTestimonial = block.settings.image_testimonial %}
                  {% if imageTestimonial != blank %}
                    <img
                      class="tp-our-testimonial__img mr-7.5"
                      src="{{ imageTestimonial | image_url: width: imageTestimonial.width , height: imageTestimonial.height }}"
                      alt="image collection"
                      width="{{ imageTestimonial.width }}"
                      height="{{ imageTestimonial.height }}"
                      loading="lazy"
                    >
                  {% else %}
                    {% render 'no-image', text_size: '', width: 130, height: 100 %}
                  {% endif %}
                  <div class="tp-our-testimonial__content">
                    <div class="tp-content__wrapper">
                      {% if block.settings.name_testimonial != blank %}
                        <div class="tp-content__name">{{ block.settings.name_testimonial }}</div>
                      {% endif %}
                      {% if block.settings.job_testimonial != blank %}
                        <div class="tp-content__job">{{ block.settings.job_testimonial }}</div>
                      {% endif %}
                    </div>
                    {% if block.settings.description_testimonial != blank %}
                      <p class="tp-content__description mb-3.75">{{ block.settings.description_testimonial }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% render 'margin-bottom' %}

{% style %}
  .tp-our-testimonial-{{ section.id }}{
    background: {{ section.settings.background_testimonial }};
  }
    .tp-our-testimonial__bg {
      padding: {{ section.settings.padding_top_bottom }}px 0
    }

    {% for block in section.blocks %}
      .tp-our-testimonial__item-{{ forloop.index }}{
      background: {{ block.settings.background_testimonial_item }}}
    {% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title testimonial",
      "default": "Our Testimonial"
    },
    {
      "type": "color",
      "id": "background_testimonial",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "padding_top_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top & bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.margin_bottom.content"
    },
    {
      "type": "paragraph",
      "content": "Unit: pixel"
    },
    {
      "type": "number",
      "id": "margin_bottom_desktop",
      "label": "t:sections.margin_bottom.desktop.label",
      "default": 80
    },
    {
      "type": "number",
      "id": "margin_bottom_table",
      "label": "t:sections.margin_bottom.tablet.label",
      "default": 60
    },
    {
      "type": "number",
      "id": "margin_bottom_mobile",
      "label": "t:sections.margin_bottom.mobile.label",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "our_testimonial_item",
      "name": " Testimonials",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_testimonial",
          "label": " Image testimonial"
        },
        {
          "type": "text",
          "id": "name_testimonial",
          "label": "Name testimonial",
          "default": "Maria Emilia"
        },
        {
          "type": "text",
          "id": "job_testimonial",
          "label": "Job testimonial",
          "default": "CEO & Founder"
        },

        {
          "type": "textarea",
          "id": "description_testimonial",
          "label": "Description testimonial",
          "default": "Noodlefish pipefish zebra shark beaked salmon hillstream loach New Zealand smelt salmon false moray"
        },
        {
          "type": "color",
          "id": "background_testimonial_item",
          "label": "Background",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our testimonial",
      "category": "Custom content",
      "blocks": [
        {
          "type": "our_testimonial_item"
        },
        {
          "type": "our_testimonial_item"
        }
      ]
    }
  ]
}
{% endschema %}
