{% liquid
  assign WidthLayout = section.settings.width_layout
%}
<div class="prd-slds">
  <div class="{{ WidthLayout }}">
    <div class="prd-slds__inner swiper">
      {% if section.blocks.size > 0 %}
        <div class="prd-slds__wrapper swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide prd-slds__sld-main">
              {% assign product = all_products[block.settings.product] %}
              {%- assign featured_image = product.selected_or_first_available_variant.featured_image
                | default: product.featured_image
              -%}
              <div
                class="slide-item flex items-center"
                style="background-image: url({{ block.settings.image | image_url: width: block.settings.image.width, height: block.settings.image.height }});"
              >
                <div class="pr-sld-content w-1/2">
                  <div class="slide-content-wrapper">
                    <div class="slide-content-inner text-left" animate="slideInRight">
                      {% if block.settings.product != blank %}
                        <a href="{{ product.url }}" class="product-title h1">
                          {% assign pr_title = product.title %}
                          {% assign first_word = pr_title | truncatewords: 1, ' ' %}
                          {% assign last_word = pr_title | split: ' ' | last %}
                          {% assign count_char = pr_title | split: ' ' %}
                          {% if count_char.size > 2 %}
                            {% assign normal_char = count_char.size | minus: 2 %}
                          {% else %}
                            {% assign normal_char = count_char.size %}
                          {% endif %}
                          <span class="first-word">{{ first_word }}</span>
                          {% if count_char.size > 1 %}
                            {% if count_char.size > 2 %}
                              {{ pr_title | remove_first: first_word | truncatewords: normal_char, ' ' }}
                            {% endif %}
                            <span class="last-word">{{ last_word }}</span>
                          {% endif %}
                        </a>
                      {% else %}
                        <a href="{{ product.url }}" class="product-title h1">
                          <span class="first-word">Product</span><br>
                          Title
                          <span class="last-word">{{ forloop.index }}</span>
                        </a>
                      {% endif %}
                      <div class="content">
                        {% if block.settings.content != blank %}
                          {% assign last_word_content = block.settings.content | split: ' ' | last %}
                          {% assign count_char_content = block.settings.content | split: ' ' %}
                          {% assign normal_char_content = count_char_content.size | minus: 1 %}
                          {% if count_char.size > 1 %}
                            <span>
                              {%- if normal_char_content.size > 2 -%}
                                {{- block.settings.content | truncatewords: normal_char_content, ' ' -}}
                              {%- endif -%}
                              <span class="last-word">{{ last_word_content }}</span></span
                            >
                          {% endif %}
                        {% endif %}
                      </div>
                      <div class="bottom-more">
                        <a href="{{ product.url }}" class="tp-btn tp-btn__primary">{{ 'homepage.start_buying' | t }}</a>
                      </div>
                    </div>
                  </div>
                  {% if block.settings.product != blank %}
                    <div class="thumb-slider-product relative">
                      <div class="thumb-slider-product-wrapper swiper ">
                        <div class="swiper-wrapper thumb-slider-product">
                          {% for image in product.images %}
                            <div class="swiper-slide thumb-item">
                              {% render 'responsive-image', image: image %}
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="prd-sld-nav prd-sld-prev">
                        {% render 'icon', icon_name: 'icon-prev-type1', width: '20', height: '20' %}
                      </div>
                      <div class="prd-sld-nav prd-sld-next ">
                        {% render 'icon', icon_name: 'icon-next-type1', width: '20', height: '20' %}
                      </div>
                    </div>
                  {% else %}
                    <div class="thumb-slider-product relative">
                      <div class="thumb-slider-product-wrapper swiper ">
                        <div class="swiper-wrapper thumb-slider-product">
                          {% for item in (1..5) %}
                            <div class="swiper-slide thumb-item">
                              <div class="item">
                                {{ 'product-5' | placeholder_svg_tag: 'product_image' }}
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="prd-sld-nav prd-sld-prev">
                        {% render 'icon', icon_name: 'icon-prev-type1', width: '20', height: '20' %}
                      </div>
                      <div class="prd-sld-nav prd-sld-next ">
                        {% render 'icon', icon_name: 'icon-next-type1', width: '20', height: '20' %}
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div class="pr-sld-right w-1/2 relative">
                  <div class="swiper main-slider-product-wrapper">
                    <div class="swiper-wrapper">
                      {% if block.settings.product != blank %}
                        {% for image in product.images %}
                          <div class="swiper-slide">
                            {% render 'responsive-image', image: image %}
                          </div>
                        {% endfor %}
                      {% else %}
                        <div class="swiper-slide">
                          {{ 'product-5' | placeholder_svg_tag: 'product_image' }}
                        </div>
                        <div class="swiper-slide">
                          {{ 'product-2' | placeholder_svg_tag: 'product_image' }}
                        </div>
                        <div class="swiper-slide">
                          {{ 'product-3' | placeholder_svg_tag: 'product_image' }}
                        </div>
                        <div class="swiper-slide">
                          {{ 'product-1' | placeholder_svg_tag: 'product_image' }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="prd-sld-nav prd-sld-prev">
                    {% render 'icon', icon_name: 'icon-prev-type1', width: '20', height: '20' %}
                  </div>
                  <div class="prd-sld-nav prd-sld-next ">
                    {% render 'icon', icon_name: 'icon-next-type1', width: '20', height: '20' %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% render 'margin-bottom' %}
{% schema %}
{
  "name": "Product Slideshow",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "width_layout",
      "label": "Width layout",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "lg-container",
          "label": "Large container"
        },
        {
          "value": "width-full",
          "label": "Width full"
        }
      ],
      "default": "container"
    },
    {
      "type": "header",
      "content": "t:sections.margin_bottom.content"
    },
    {
      "type": "paragraph",
      "content": "Unit: pixel"
    },
    {
      "type": "number",
      "id": "margin_bottom_desktop",
      "label": "t:sections.margin_bottom.desktop.label",
      "default": 80
    },
    {
      "type": "number",
      "id": "margin_bottom_table",
      "label": "t:sections.margin_bottom.tablet.label",
      "default": 60
    },
    {
      "type": "number",
      "id": "margin_bottom_mobile",
      "label": "t:sections.margin_bottom.mobile.label",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Background Images"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Product"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "CHECK OUR BEST OCCASIONS TODAY"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Slideshow",
      "category": "Product",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
